bcrypt==3.1.7
certifi==2019.11.28
cffi==1.12.3
chardet==3.0.4
Click==7.0
Flask==1.0.3
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
pdfkit==0.6.1
Pillow==7.1.0
psycopg2-binary==2.8.4
pycparser==2.19
pymssql==2.1.4
python-resize-image==1.1.19
reportlab==3.5.52
requests==2.22.0
six==1.12.0
urllib3==1.25.8
Werkzeug==0.15.4
wkhtmltopdf==0.2
