/*
 * Globals
 */
/* Links */

html, body {
  height: 100%; 
}

body {
  background: url(../iconos/fondo.jpg) no-repeat center center fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-family: 'Quicksand', sans-serif; 
}


