
{% extends "layout.html" %}

{% block page_title %}Unauthorized{% endblock %}

{% block content %}

<link href="{{ url_for('static', filename='css/letreros.css') }}" rel="stylesheet">

<div class="text-center" style="height: 70vh;">
	<div class="col-md-8 main-section">
		<div class="modal-content">
			<div class="col-12 user-img">
				<span class="input-icon"><i class="fa fa-globe"></i></span>
			</div>
			<div class="col-12 form-input">
				<span>Error 401</span>
			</div>
			<div class="col-12 form-input">
				<span>Usted no esta autorizado para visualizar esta página <a href="{{ url_for('login') }}">Ingresar</a> or
            	<a href="{{ url_for('registro', usuario_id=0) }}">Crear una nueva Cuenta</a>.</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}

