{% extends "layout.html" %} {% block content %} {% block js_css %}
<link href="{{ url_for('static', filename='css/uts/table_img.css') }}" rel="stylesheet" media="screen">
<script src="{{ url_for('static', filename='js/uts/table_upd_ind.js') }}"></script>

<style type="text/css">
     select {
        width: 200px;
    }
</style>

{% endblock %}

<div class="container">
    <h2 class="text-center text-blue pt-5">Adición de Indicadores del Asiento Electoral</h2>
    <br>
    <form action="" class="needs-validation" novalidate method='POST' enctype="multipart/form-data" id='imgform' name='imgform'>
        <input type="hidden" id="id_imgsa" name="imgsa[]">
        <input type="hidden" id="id_filesa" name="filesa[]">
        <input type="hidden" id="id_filesv" name="filesv[]">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h5>Asiento: {{ nomloc }}</h5>
            </div>
            <div class="col-xs-6 col-md-4">
                <!-- ADD ELEMENT SELECT X DEFECTO  EN FORM VACIO -->
                <button type="button" id="addRow" onclick="pAddRow(arrOpt, objSubcatSalud);" class="btn btn-light btn-md btn-block "><span class="fas fa-chart-line"></span><a href="#" > Adicionar Indicador</a></button>
            </div>
        </div>
        <div class="form-row">
            <div id='cont' class="col-lg-12"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <button type="button" onclick="javascript: window.location.href = '/asientos_list';" class="btn btn-outline-danger btn-md btn-block">Cancelar</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-success btn-md btn-block" onclick="pSubmit()" {% if puede_editar %} enabled {% else %} disabled {% endif %}>Aceptar</button>
            </div>
        </div>
        <!--row-->
    </form>

    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <!-- Modal -->
    <div class="modal" tabindex="-1" id="confirm-delete">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Confirmar Eliminacion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">                          
             <p class="debug-url"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <a class="btn btn-danger btn-ok">Eliminar</a>
          </div>
        </div>
      </div>
    </div>
</div>

<script>
    window.addEventListener('load', function() {
        createTable();
        // arrOpt con CATEGORIAS - Arreglo para options de SELECT 
        arrOpt = {
            {% for r in rows %} 
                {{ r[0] }}: '{{ r[1] }}',
            {% endfor %}
        };
        // SUBCATEGORIAS
        objSubcat = {
            {% for r in subcat %} 
                {{ r[0] }}: ['{{ r[1] }}', {{ r[2] }}],
            {% endfor %}
        };
        // GENERA SUBCATEGORIAS CON (cate_id = 1)
        objSubcatSalud = {};
        for (var sub in objSubcat) {
            if (objSubcat[sub][1] == 1) {
                //console.log('son iguales ');
                objSubcatSalud[sub] = objSubcat[sub][0];
            }
        };

    })

    //--------  funcion del evento select -------------------------
    function cambia(obj) {
        var n_objetoSelect = obj.substr(obj.length - 1);
        var id_mySelect = 'idSelect' + n_objetoSelect;
        var id_mySelectSub = 'idSelectSub' + n_objetoSelect;

        var indiceSelect1 = 0;
        indiceSelect1 = document.getElementById(obj).value;
        if (indiceSelect1 >= 0) {
            // obtener el numero de subelementos seleccionados
            var cont = 0;
            var idcate = parseInt(indiceSelect1, 10);
            for (var sub in objSubcat) {
                if (objSubcat[sub][1] == idcate) {
                    cont = cont + 1;
                }
            };
            // llenando el 2do select
            var combo2 = document.getElementById(id_mySelectSub);
            combo2.length = cont;
            var i = 0;
            for (var sub in objSubcat) {
                if (objSubcat[sub][1] == idcate) {
                    combo2.options[i] = new Option(objSubcat[sub][0], sub);
                    i = i + 1;
                }
            };
        } //  fin if
    } //  fin funcion  cambia()
</script>
{% endblock %}