{% extends "layout.html" %}

{% block content %}

{% block js_css %}
    <link href="{{ url_for('static', filename='css/leaflet1.5.1/leaflet.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/leaflet1.5.1/leaflet.js') }}"></script>

    <script src="{{ url_for('static', filename='js/uts/buildmap.js') }}"></script>
{% endblock %}

<div class="container">
    <h2 class="text-center text-blue pt-5" >Asiento Electoral</h2>
    <form class="needs-validation" novalidate method='POST' onsubmit="return Validation(this)" >
        <div class="form-row">
            <div class="col-md-4">
                <label for="latitud">Latitud:</label>
                <input type="text" class="form-control" id="ilatitud" title="" placeholder="Introduzca latitud" name="latitud"  required pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}"
                        {% if load %}
                            value="{{ a.latitud }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir una coordenada válida.</div>
            </div>
            <div class="col-md-4">
                <label for="longitud">Longitud:</label>
                <input type="text" class="form-control" id="ilongitud" title="" placeholder="Introduzca longitud" name="longitud"  required pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" onkeydown="getgeo(event)"
                        {% if load %}
                            value="{{ a.longitud }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir una coordenada válida.</div>
            </div>
            <div class="col-md-4">
                <label for="">.</label>
                <button type='button' class="btn btn-info btn-md btn-block" onclick="getgeo(event)" >Visualizar imágen Satelital</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <label for="dep">DEP:</label>
                <input type="text" class="form-control" id="ideploc" title="" placeholder="DEP" name="deploc"  readonly required pattern="[0-9]{1}"
                        {% if load %}
                            value="{{ a.deploc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir DEP.</div>
            </div>
            <div class="col-md-3">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" id="idepartamento" title="" placeholder="departamento" name="departamento" disabled
                        {% if load %}
                            value="{{ a._departamento }}"
                        {% endif %}
                    >
            </div>

            <div class="col-md-1">
                <label for="prov">PROV:</label>
                <input type="text" class="form-control" id="iprovloc" title="" placeholder="PROV" name="provloc"  readonly required pattern="[0-9]{1}"
                        {% if load %}
                            value="{{ a.provloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir PROV.</div>
            </div>
            <div class="col-md-3">
                <label for="provincia">Provincia:</label>
                <input type="text" class="form-control" id="iprovincia" title="" placeholder="provincia" name="provincia" disabled
                        {% if load %}
                            value="{{ a._provincia }}"
                        {% endif %}
                    >
            </div>

            <div class="col-md-1">
                <label for="sec">SEC:</label>
                <input type="text" class="form-control" id="isecloc" title="" placeholder="SEC" name="secloc"  readonly required pattern="[0-9]{1}"
                        {% if load %}
                            value="{{ a.secloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir SEC.</div>
            </div>
            <div class="col-md-3">
                <label for="municipio">Municipio:</label>
                <input type="text" class="form-control" id="imunicipio" title="" placeholder="municipio" name="municipio" disabled
                        {% if load %}
                            value="{{ a._municipio }}"
                        {% endif %}
                    >
            </div>
        </div> <!--row-->

        <br>
        <div class="row">
            <div class="col-lg-12">
            <div id="dmap" style="width: 1150px; height: 600px;"></div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-1">
                <label for="idloc">IdLoc:</label>
                <input type="text" class="form-control" id="iidloc" title="" placeholder="IdLoc" name="idloc" disabled
                        {% if load %}
                            value="{{ a.idloc }}"
                        {% endif %}
                    >
            </div>
            <div class="col-md-3">
                <label for="nomloc">Asiento ELectoral:</label>
                <input type="text" class="form-control" id="inomloc" title="" placeholder="Introduzca nombre de Asiento" name="nomloc"  required 
                        {% if load %}
                            value="{{ a.nomloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un nombre válido.</div>
            </div>
            <div class="col-md-2">
                <label for="poblacionloc">Población Localidad:</label>
                <input type="text" class="form-control" id="ipoblacionloc" title="" placeholder="Introduzca población en localidad" name="poblacionloc"  required pattern="^ *\d[\d ]*$"  oninput="valida_n_rango(event, this, 10, 1000000)"
                        {% if load %}
                            value="{{ a.poblacionloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_poblacionloc">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-2">
                <label for="poblacionelecloc">Población electoral:</label>
                <input type="text" class="form-control" id="ipoblacionelecloc" title="" placeholder="Introduzca población electoral en localidad" name="poblacionelecloc"  required pattern="^ *\d[\d ]*$"  oninput="valida_n_rango(event, this, 10, 700000)"
                        {% if load %}
                            value="{{ a.poblacionelecloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_poblacionelecloc">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-4">
                <label for="fechacensoloc">Fecha Censo:</label>
                <input type="date" class="form-control" id="ifechacensoloc" title="" placeholder="Introduzca fecha del Censo" name="fechacensoloc" value="2012-01-01" min="2012-01-01" max="2025-01-01" "  
                        {% if load %}
                            value="{{ a.fechacensoloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_fechacensoloc">Debe introducir una fecha válida.</div>
            </div>
        </div> <!--row-->

        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Tipo de Circunscripción</label>

                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label
                {% if load and a.tipolocloc.strip()=="1" %}
                      class="btn btn-outline-dark active"
                {% else %}
                      class="btn btn-outline-dark"
                {% endif %}
                >
                    <input type="radio" value=1 name="tipolocloc" id="itipolocloc1" autocomplete="off">Uninominal
                </label>

                <label
                {% if load and a.tipolocloc.strip()=="2" %}
                      class="btn btn-outline-dark active"
                {% else %}
                      class="btn btn-outline-dark"
                {% endif %}
                >

                    <input type="radio" value=2 name="tipolocloc" id="itipolocloc2" autocomplete="off">Especial
                </label>

                <label 
                {% if load and a.tipolocloc.strip()=="3" %}
                      class="btn btn-outline-dark active"
                {% else %}
                      class="btn btn-outline-dark"
                {% endif %}
                >
                    <input type="radio" value=3 name="tipolocloc" id="itipolocloc3" autocomplete="off">Mixto
                </label>
                </div>

            </div>
            <div class="col-md-4">
                <label>Habilitado/Inhabilitado</label>
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label 
                        {% if load  and a.marcaloc == "1" %}
                            class="btn btn-outline-dark active"
                        {% else %}
                            class="btn btn-outline-dark"
                        {% endif %}
                >
                    <input type="radio" value=1 name="marcaloc" id="imarcaloc1" autocomplete="off">Habilitado
                </label>
                <label
                        {% if load  and a.marcaloc == "2" %}
                            class="btn btn-outline-dark active"
                        {% else %}
                            class="btn btn-outline-dark"
                        {% endif %}
                >
                    <input type="radio" value=2 name="marcaloc" id="imarcaloc2" autocomplete="off">Inhabilitado
                </label>
                </div>
            </div>
            <div class="col-md-4">
                <label for="iestado">Estado</label>
                <select id="iestado" name=estado class="form-control">
                    <option value=1 
                        {% if load  and a.estado == 1 %}
                            selected 
                        {% endif %}
                    >Activo</option>
                    <option value=2
                        {% if load  and a.estado == 2 %}
                            selected 
                        {% endif %}
                    >Habilitado</option>
                    <option value=3
                        {% if load  and a.estado == 3 %}
                            selected 
                        {% endif %}
                    >Suspendido</option>
                    <option value=4
                        {% if load  and a.estado == 4 %}
                            selected 
                        {% endif %}
                    >Suprimido</option>
                </select> 
            </div>
        </div> <!--row-->
        

        <h5 class="text-left text-blue pt-5" >Información Complementaria:</h5>
        <br>


        <div class="row">
            <div class="col-md-3">
                <label for="ietapa">Etapa</label>
                <select id="ietapa" name=etapa class="form-control">
                    <option value=1 
                        {% if load  and a.etapa == 1 %}
                            selected 
                        {% endif %}
                    >Propuesta</option>
                    <option value=2
                        {% if load  and a.etapa == 2 %}
                            selected 
                        {% endif %}
                    >Revisión</option>
                    <option value=3
                        {% if load  and a.etapa == 3 %}
                            selected 
                        {% endif %}
                    >Aprobado</option>
                </select> 
            </div>
            <div class="col-md-6">
                <label for="docAct">Documento Actualización:</label>
                <input type="text" class="form-control" id="idocAct" title="" placeholder="Introduzca doc. RSP-TED, Informe u Otro" name="docAct"  required 
                        {% if load %}
                            value="{{ a.docAct }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-3">
              <div>

  </div>
                <label for="fechaDocAct">Fecha Documento Actualización:</label>
                <input type="date" class="form-control" id="ifechaDocAct" title="" placeholder="Introduzca fecha del Doc." name="fechaDocAct"  min="1970-01-01" max="2030-01-01" "  
                        {% if load %}
                            value = '{{ a.fechaDocAct }}'
                        {% else %}
                            value = '2020-01-01'
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_fechaDocAct">Debe introducir una fecha válida.</div>
            </div>
        </div> <!--row-->
        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="iobsUbicacion">Breve descripción de la  Ubicación Geográfica:</label>
                <input type="text" class="form-control" id="iobsUbicacion" title="" placeholder="Introduzca descripción de ubicación" name="obsUbicacion"  
                        {% if load %}
                            value="{{ a.obsUbicacion }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un dato válido.</div>
            </div>
        </div> <!--row-->

        <br>
        <div class="row">
            <div class="col-md-8">
                <label for="docRspNal">Documento Resolución de Sala Plena - Nacional:</label>
                <input type="text" class="form-control" id="idocRspNal" title="" placeholder="Introduzca doc. RSP-NAL, Informe u Otro" name="docRspNal"  
                        {% if load %}
                            value="{{ a.docRspNal }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-4">
                <label for="fechaRspNal">Fecha RSP Nacional:</label>
                <input type="date" class="form-control" id="ifechaRspNal" title="" placeholder="Introduzca fecha RSP" name="fechaRspNal"  min="1970-01-01" max="2030-01-01" "  
                        {% if load %}
                            value = '{{ a.fechaRspNal }}'
                        {% else %}
                            value = '2020-01-01'
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_fechaRspNal">Debe introducir una fecha válida.</div>
            </div>
        </div> <!--row-->

        <br>
        <div class="row">
            <div class="col-md-12">
                <label for="iobs">Observaciones:</label>
                <textarea class="form-control" rows="3" id="iobs" name="obs">
                        {% if load %}
                            {{ a.obs }}
                        {% endif %}
                </textarea>
            </div>
        </div> <!--row-->

        <div class="row">
            <div class="col-md-4">
                <label for="fechaIngreso">Fecha Ingreso al Sistema:</label>
                <input type="datetime" class="form-control" id="ifechaIngreso" title="" placeholder="Fecha de Ingreso." name="fechaIngreso" readonly "  
                        {% if load %}
                            value="{{ a.fechaIngreso }}"
                        {% else %}
                            value="{{ idatetime }}"
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_fechaIngreso">Debe introducir una fecha válida.</div>
            </div>
            <div class="col-md-4">
                <label for="fechaAct">Fecha Actualización:</label>
                <input type="datetime" class="form-control" id="ifechaAct" title="" placeholder="Fecha de Actualización" name="fechaAct" readonly "  
                        {% if load %}
                            value="{{ a.fechaAct }}"
                        {% else %}
                            value="{{ idatetime }}"
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_fechaAct">Debe introducir una fecha válida.</div>
            </div>
            <div class="col-md-4">
                <label for="usuario">Usr.que realizó la última actualización:</label>
                <input type="text" class="form-control" id="iusuario" title="" placeholder="Usuario" name="usuario"  readonly "
                        {% if load %}
                            value="{{ a.usuario }}"
                        {% else %}
                            value="{{ usuario }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un nombre válido.</div>
            </div>
        </div> <!--row-->

        <br>

        <div class="row">
            <div class="col-md-6">
                <button type="button"  onclick="javascript: window.location.href = '/asientos_list';"  class="btn btn-outline-danger btn-lg btn-block">Cancelar</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-success btn-lg btn-block" 
                    {% if puede_editar %}
                        enabled
                    {% else %}
                        disabled
                    {% endif %}
                >Aceptar</button>
            </div>
        </div> <!--row-->

    </form>


    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
</div> <!--main-->

<script>

    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });

            // Asigna value recuperado solo cuando es EDIT 
            if ('{{load}}'=='True') {
                switch('{{a.tipolocloc}}'.trim()) {
                    case '1':
                        document.getElementById('itipolocloc1').checked = true;
                        break;
                    case '2':
                        document.getElementById('itipolocloc2').checked = true;
                        break;
                    case '3':
                        document.getElementById('itipolocloc3').checked = true;
                        break;
                }
                switch('{{a.marcaloc}}'.trim()) {
                    case '1':
                        document.getElementById('imarcaloc1').checked = true;
                        break;
                    case '2':
                        document.getElementById('imarcaloc2').checked = true;
                        break;
                }
            }
        }, false);
    })();



function valida_n_rango(event, input, min, max) {
    var x = event.keyCode;
    //if (x == 9) {
      n = parseFloat(input.value);
      v =  (!isNaN(n) && n >= min && n <= max); 
      if (v) {
          //alert(v);
          input.setCustomValidity('');
      } else {
          input.setCustomValidity('scv');
          $("#v_poblacionloc").html("Verifique el rango de población...")
          //alert(v);
      }
   //}
}

// Below Function Executes On Form Submit
function Validation(f) {
    if (f.tipolocloc.value == '') {
        alert('Debe especificar tipo de circunscripción...');
        return false;
    }

    if (f.marcaloc.value == '') {
        alert('Debe específicar - Habilitado/Inhabilitado...');
        return false;
    }
    return true;
}

</script>

{% endblock %}

