{% extends "layout.html" %} {% block content %} {% block js_css %}
<link href="{{ url_for('static', filename='css/uts/table_img.css') }}" rel="stylesheet" media="screen">
<script src="{{ url_for('static', filename='js/uts/table_upd_ind.js') }}"></script>
<style type="text/css">
     select {
        width: 200px;
    }
</style>
{% endblock %}

<div class="container">
    <h3 class="text-center text-blue pt-5">Actualización de Indicadores del Asiento Electoral</h3>
    <br>
    <form action="" class="needs-validation" novalidate method='POST' enctype="multipart/form-data" id='imgform'>
        <input type="hidden" id="id_imgsa" name="imgsa[]">
        <input type="hidden" id="id_filesa" name="filesa[]">
        <input type="hidden" id="id_filesv" name="filesv[]">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-8">
                <h5>Asiento: {{ nomloc }}</h5>
            </div>
            <div class="col-xs-6 col-md-4">          <!-- ADD  ELEMENT SELECT X DEFECTO  -->
                <button type="button" id="addRow" onclick="pAddRow(objOpt, objSubcatSalud);" class="btn btn-light btn-md btn-block "><span class="fas fa-chart-line"></span><a href="#" > Adicionar Indicador</a></button>
            </div>
        </div>
        <div class="form-row">
            <div id='cont' class="col-lg-12"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <button type="button" onclick="javascript: window.location.href = '/asientos_list';" class="btn btn-outline-danger btn-md btn-block">Cancelar</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-success btn-md btn-block" onclick="pSubmit()" {% if puede_editar %} enabled {% else %} disabled {% endif %}>Aceptar</button>
            </div>
        </div>
    </form>

    {% if error %}
        <br>
        <div class="alert alert-danger alert-dismissible fade show">
            <strong>Error!</strong> {{ error }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
    {% endif %}
</div>

<script>
    window.addEventListener('load', function() {
        createTable();
        // objOpt - para options de SELECT 
        // CATEGORIAS
        objOpt = {
            {% for r in rows %}
             {{ r[0] }}: '{{ r[1] }}',
            {% endfor %}
        }
        // SUBCATEGORIAS
        objSubcat = {
            {% for r in subcat %}
             {{ r[0] }}: ['{{ r[1] }}',{{ r[2] }}],
            {% endfor %}
        };
        // GENERA SUBCATEGORIAS CON (cate_id = 1)
        objSubcatSalud = {};
        for (var sub in objSubcat){
            if(objSubcat[sub][1] == 1){   
                //console.log('son iguales ');
                objSubcatSalud[sub] = objSubcat[sub][0];
            }
        }

        //console.log('----------  creando un diccionario en base a loc_cate   --------------');
        objLoaded_base = {
            {% for r in lista_with_cate %}
             {{ r[0] }}: [{{ r[2] }}, {{ r[3] }}, '{{ r[4] }}', 0],
            {% endfor %}
        }
    
        console.log('----lee objLoaded_base y genera subcategorias correspondientes ----');
        
        for(var fila in objLoaded_base){
        var dict = {};
          //  leendo  subcategorias
          for(var sc in objSubcat){
             
             if(objLoaded_base[fila][0]==objSubcat[sc][1]){   
                //console.log('son iguales '+sc);
                dict[sc] = objSubcat[sc][0];
             }
          }  
        //console.log(dict)  
        objLoaded_base[fila][3] = dict;  // add al final los subcat correspndientes al id de cate  
                
        }
            
        console.log('--------***** diccionario para mandar y generar selects--------');
        //console.log(objLoaded_base);
        console.log('-==============')

        // PARA GENERAR LOS DOS COMBOS
        for (prop in objLoaded_base) {
            //add
            addRow2(objOpt, objLoaded_base[prop][0], objLoaded_base[prop][2], objLoaded_base[prop][3], objLoaded_base[prop][1]);
        
            //console.log('------------------------');
        }
    
    })


    //--------  funcion del evento select -------------------------
    function cambia(obj){
        var n_objetoSelect = obj.substr(obj.length - 1);
        var id_mySelect = 'idSelect'+n_objetoSelect;
        var id_mySelectSub = 'idSelectSub'+n_objetoSelect;
        var indiceSelect1 = 0;
        indiceSelect1 = document.getElementById(obj).value;
        if(indiceSelect1 >= 0){
            // obtener el numero de subelementos seleccionados
            var cont=0;
            var idcate = parseInt(indiceSelect1,10);
            for (var sub in objSubcat){
                if(objSubcat[sub][1] == idcate){
                    cont = cont + 1;
                }
            };
            // llenando el 2do select
            var combo2 =  document.getElementById(id_mySelectSub);
            combo2.length = cont;
            var i = 0;
            for (var sub in objSubcat){
                if(objSubcat[sub][1] == idcate){
                    combo2.options[i] = new Option(objSubcat[sub][0], sub);
                    i = i + 1;
                }
            };
        } //  fin if
    }  //  fin funcion  cambia()
</script>
{% endblock %}