{% extends "layout.html" %}

{% block content %}
{% block js_css %}
    <script src="{{ url_for('static', filename='js/uts/var_global.js') }}"></script>
{% endblock %}

<div class="container">
    <br>    
    <h2 class="text-center text-blue pt-3" >{{ titulo }}</h2>
    <br>    
    
    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if dook %}
    <br>
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Mensaje: </strong> {{ dook }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-8">
            <div id="login-box" class="col-md-12">
                <form action="" class="needs-validation" novalidate method="POST">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="idloc">IdLoc:</label>
                            <input type="text" class="form-control" id="idloc" title="" name="idloc" required  
                                        placeholder="Instroduzca IdLoc" 
                                        onblur="getNomloc();" 
                                        {% if load %}
                                            value="{{ d.idloc }}"
                                            readonly
                                        {% endif %}
                            >
                            <div class="invalid-feedback">Ingrese codigo IdLoc...</div>
                        </div>
                        <div class="col-md-9">
                            <label for="nomloc">Nombre Asiento:</label>
                            <input type="text" class="form-control" id="inomloc" title="" name="nomloc" 
                                        placeholder="Asiento" required readonly
                                        {% if load %}
                                            value="{{ d.nomloc }}"
                                        {% endif %}
                            >
                        </div>
                    </div> <!--row-->
                    <br>
                    <div class="row">
                        <div class="col-md-2">
                            <label for="dist">Dist.:</label>
                            <input type="text" class="form-control" maxlength="2" id="dist" placeholder="Cod" 
                                        name="dist" readonly
                                        {% if load %}
                                            value="{{ d.dist }}"
                                        {% endif %}
                            >
                            <div class="invalid-feedback">Código parcial - distrito ...</div>
                        </div>
                        <div class="col-md-8">
                            <label for="nomdist">Nombre del Distrito::</label>
                            <input type="text" class="form-control" id="inomdist" name="nomdist" required 
                                        placeholder="Introduzca el Nombre del Distrito" 
                                        onkeypress="return ACEPTADOS.includes(event.charCode)"
                                        {% if load %}
                                            value="{{ d.nomdist }}"
                                        {% endif %}
                            >
                            <div class="invalid-feedback">Por favor ingrese el Nombre del Distrito...</div>
                        </div>
                        <div class="col-md-2">
                            <label for="distGeo">ID GEO:</label>
                            <input type="number" class="form-control"  id="id_distGeo" 
                                    placeholder="Id de distrito - Espacial" name="distGeo" required
                                    min="0" max="99999"
                                        {% if load %}
                                            value="{{ d.distgeo }}"
                                        {% endif %}
                            >
                            <div class="invalid-feedback">Por favor ingrese Código (id) de distrito Espacial</div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="fechaIngreso">Fecha y Hora de Registro:</label>
                            <input type="datetime" class="form-control" id="fechaIngreso" title="" 
                                        placeholder="Fecha de Registro." name="fechaIngreso" readonly
                                        {% if load %}
                                            value="{{ d.fechaingreso }}"
                                        {% else %}
                                            value="{{ idatetime }}"
                                        {% endif %}
                            >
                            <div class="invalid-feedback" id="v_fechaIngreso">Debe introducir una fecha válida.</div>
                        </div>
                        <div class="col-md-4">
                            <label for="fechaAct">Fecha y Hora Actual:</label>
                            <input type="datetime" class="form-control" id="fechaAct" title="" 
                                       placeholder="Fecha Actual." name="fechaAct" readonly
                                       {% if load %}
                                           value = " {{ d.fechaact }}"
                                       {% else %}
                                           value="{{ idatetime }}"
                                       {% endif %}
                            >
                        </div>                        
                        <div class="col-md-4">
                            <label for="usuario">Usuario:</label>
                            <input type="text" class="form-control" id="usuario" title="" 
                                       placeholder="Usuario" name="usuario"  readonly 
                                       {% if load %}
                                           value = "{{ d.usuario }}"
                                       {% else %}
                                           value="{{ usuario }}"
                                       {% endif %}
                            >
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <button type="button" onclick="javascript: window.location.href = '/distritos_list';"
                                class="btn btn-outline-danger btn-md btn-block">
                                {% if dook %}
                                    Cerrar
                                {% else %}
                                    Cancelar/Cerrar
                                {% endif %}        
                            </button>
                        </div>

                        <div class="col-md-6 mb-3">
                            <button type="submit" class="btn btn-outline-success btn-md btn-block"
                                {% if dook %}
                                    disabled
                                {% else %}
                                    enabled
                                {% endif %}
                                {% if not puede_editar %}
                                    disabled
                                {% endif %}

                            >Aceptar</button>
                        </div>
                    </div> <!--row-->
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    ACEPTADOS = CARACTERES_ACEPTADOS; // global

    function getNomloc() {
        $.getJSON('/get_nomloc', {
            idloc: $('input[name="idloc"]').val()
        }, function(data) {
            document.getElementById("inomloc").setAttribute("value", data.nomloc)
        });
    } 


    $('.custom-file-input').on('change', function() { 
          let fileName = $(this).val().split('\\').pop(); 
          $(this).next('.custom-file-label').addClass("selected").html(fileName); 
    });    
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock %}
