<!DOCTYPE html>
<html>
<head>
    <title>Map Page</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />

    <!--add-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">

    <!-- Dependency to Leaflet Draw -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.3.2/leaflet.draw.js"></script>

    <!-- Files from current project 
    <link rel="stylesheet" href="leaflet.measurecontrol.css" />
    <script src="leaflet.measurecontrol.js"></script> -->

    <link href="{{ url_for('static', filename='css/leaflet.measurecontrol.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/leaflet.measurecontrol.js') }}"></script>

    <!--Coordinates-->
    <link href="{{ url_for('static', filename='css/Leaflet.Coordinates-0.1.5.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/Leaflet.Coordinates-0.1.5.min.js') }}"></script>

    <!--search-->
    <!--https://github.com/stefanocudini/leaflet-search - custom-tip.html -->
    <link href="{{ url_for('static', filename='css/leaflet-search.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/leaflet-search.js') }}"></script>
  
    <!--locate-->
    <link href="{{ url_for('static', filename='css/Locate.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/Locate.js') }}"></script>

    <!--mini-map-->
    <link href="{{ url_for('static', filename='css/Control.MiniMap.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/Control.MiniMap.js') }}"></script>

    <style>
        #map {  position: relative;
                width: 600px;
                height: 775px;
                border: 3px solid #000000;}
    </style>    
</head>
<body>
    <div id="map"></div>
    <script>


      var map = L.map('map').setView([-19.86,-67.52],6);
      // add controls 
      map.addControl(new L.Control.Fullscreen());

      L.Control.measureControl().addTo(map);

/*
		L.control.coordinates().addTo(map);
      
		//add configured controls
		L.control.coordinates({
			position:"bottomleft",
			decimals:2,
			decimalSeperator:",",
			labelTemplateLat:"Latitude: {y}",
			labelTemplateLng:"Longitude: {x}"
		}).addTo(map);
		L.control.coordinates({
			position:"topright",
			useDMS:true,
			labelTemplateLat:"N {y}",
			labelTemplateLng:"E {x}",
			useLatLngOrder:true
		}).addTo(map);
 */
		L.control.coordinates({
			position:"bottomleft",
			decimals:5,
			decimalSeperator:",",
      lngFirst:true,
			labelTemplateLat:"Lat: {y}",
			labelTemplateLng:"Lng: {x}"
		}).addTo(map);



        //L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=9GKOA9jJ3jCIWFUd8k00', {attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',}).addTo(map);

        //L.geoJSON({{ geo_json | safe }}).addTo(map);
        //

        var url = 'usa.json';  // my GeoJSON data source, in same folder as my html page.

          //var map = L.map('map').setView([47.7541, -107.05078], 3); 

          
		var osmUrl='http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';
		var osmAttrib='Map data &copy; OpenStreetMap contributors';
          //var osm = new L.TileLayer(osmUrl, {minZoom: 5, maxZoom: 18, attribution: osmAttrib});

          //var osm=new L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',{ 
            //    attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'}).addTo(map);
          var osm=new L.tileLayer(osmUrl,{ 
                attribution: osmAttrib}).addTo(map);

          
		var topoUrl = 'https://{s}.tile.opentopomap.org/{z}/{x}/{y}.png';
		var topoAttribution = 'Kartendaten: &copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap</a>-Mitwirkende, <a href="http://viewfinderpanoramas.org">SRTM</a> | Kartendarstellung: &copy; <a href="https://opentopomap.org">OpenTopoMap</a> (<a href="https://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>)',
			topo = new L.TileLayer(topoUrl, {minZoom: 1, maxZoom: 17, detectRetina: false, attribution: topoAttribution});
            
          
        // Set style function that sets fill color property
        function style(feature) {
            return {
                fillColor: 'green', 
                fillOpacity: 0.5,  
                weight: 2,
                opacity: 1,
                color: '#ffffff',
                dashArray: '3'
            };
        }

        function styleProv(feature) {
            return {
                fillColor: 'orange', 
                fillOpacity: 0.5,  
                weight: 2,
                opacity: 1,
                color: '#ffffff',
                dashArray: '3'
            };
        }


          var highlight = {
            'fillColor': 'yellow',
            'weight': 2,
            'opacity': 1
          };
          
          function forEachFeature(feature, layer) {

                  var popupContent = "<p><b>ID: </b>"+ feature.properties.id +
                      "</br>LOCALIDAD: "+ feature.properties.nom_localidad + '</p>';

                  layer.bindPopup(popupContent);

                  layer.on("click", function (e) { 
                      locLayer.setStyle(style); //resets layer colors
                      layer.setStyle(highlight);  //highlights selected.
                  }); 
          }

          function forEachFeatureMun(feature, layer) {

                  var popupContent = "<p><b>ID: </b>"+ feature.properties.id +
                      "</br>COD_DEP: " + feature.properties.ut_sup_id.toLocaleString() +
                      "</br>MUNICIPIO: "+ feature.properties.nom_ut_basica + '</p>';

                  layer.bindPopup(popupContent);

                  layer.on("click", function (e) { 
                      munLayer.setStyle(style); //resets layer colors
                      layer.setStyle(highlight);  //highlights selected.
                  }); 
          }
          
          function forEachFeatureProv(feature, layer) {

                  var popupContent = "<p><b>ID: </b>"+ feature.properties.id +
                      "</br>COD_PROV: " + feature.properties.ut_sup_id.toLocaleString() +
                      "</br>PROVINCIA: "+ feature.properties.nom_ut_intermedia + '</p>';

                  layer.bindPopup(popupContent);

                  layer.on("click", function (e) { 
                      provLayer.setStyle(styleProv); //resets layer colors
                      layer.setStyle(highlight);  //highlights selected.
                  }); 
          }


          function forEachFeatureCircun(feature, layer) {

                  var popupContent = "<p><b>ID: </b>"+ feature.properties.id +
                      "</br>DEP: " + feature.properties.ut_sup_id.toLocaleString() +
                      "</br>CIRCUNSCRIPCION: "+ feature.properties.nom_circunscripcion + '</p>';

                  layer.bindPopup(popupContent);

                  layer.on("click", function (e) { 
                      circunLayer.setStyle(style); //resets layer colors
                      layer.setStyle(highlight);  //highlights selected.
                  }); 
         }

        // to search
        function customTip(text,val) {
          return '<a href="#">'+text+'<em style="background:'+text+'; width:14px;height:14px;float:right"></em></a>';
        }


        var locLayer = L.geoJson( {{ geo_json | safe }}, {onEachFeature: forEachFeature, style: style});
        var munLayer = L.geoJson( {{ gj_mun | safe }}, {onEachFeature: forEachFeatureMun, style: style});
        var provLayer = L.geoJson( {{ gj_prov | safe }}, {onEachFeature: forEachFeatureProv, style: styleProv});
        //var circunLayer = L.geoJson( {{ gj_circun | safe }}, {onEachFeature: forEachFeatureCircun, style: style});

         provLayer.addTo(map);

        // for Layer Control	
        var baseMaps = {
            "OpenTopoMap": topo,
            "Open Street Map": osm  	
        };

        var overlayMaps = {
            "Localidades":locLayer,
            "Municipios":munLayer,
            "Provincias":provLayer
        };	
            //"Circunscripciones":circunLayer
          
        //Add layer control
        L.control.layers(baseMaps, overlayMaps).addTo(map);

        /* first vers. :(
        map.addControl( new L.Control.Search({
          layer: locLayer,
          buildTip: customTip,
          autoType: false
        }) );
         */

      /*
	map = new L.Map('map');
		map.attributionControl.setPrefix(false);
		map.dragging.enable();
		map.touchZoom.enable();
		map.doubleClickZoom.enable();
    map.scrollWheelZoom.enable();

		map.addControl( new L.Control.Search({
			url: 'https://nominatim.openstreetmap.org/search?format=json&accept-language=de-DE&q={s}',
			jsonpParam: 'json_callback',
			propertyName: 'display_name',
			propertyLoc: ['lat','lon'],
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
			zoom:10,
			text: 'Calle, departamento, país...',
			textCancel: 'Abbrechen',
			textErr: 'No encontrado'
		}) );

		L.control.locate({
			follow: true,
			title: "Position bestimmen",
			popupText: ["Sie befinden sich innerhalb "," von diesem Punkt"]
		}).addTo(map);
    */

  /*
  map.addControl( new L.Control.Search({
		url: 'https://nominatim.openstreetmap.org/search?format=json&q={s}',
		jsonpParam: 'json_callback',
		propertyName: 'display_name',
		propertyLoc: ['lat','lon'],
		marker: L.circleMarker([0,0],{radius:30}),
		autoCollapse: true,
		autoType: false,
		minLength: 2
	}) );
   */

		map.addControl( new L.Control.Search({
			url: 'https://nominatim.openstreetmap.org/search?format=json&accept-language=de-DE&q={s}',
			jsonpParam: 'json_callback',
			propertyName: 'display_name',
			propertyLoc: ['lat','lon'],
			markerLocation: true,
			autoType: false,
			autoCollapse: true,
			minLength: 2,
			zoom:10,
			text: 'Dirección a buscar ó lat long',
			textCancel: 'Cancelar',
			textErr: 'No encontrado... '
		}) );

	//L.control.locate({showCompass:true,icon:"fa fa-crosshairs"}).addTo(map);


            
		//Plugin magic goes here! Note that you cannot use the same layer object again, as that will confuse the two map controls
		var osm2 = new L.TileLayer(osmUrl, {minZoom: 0, maxZoom: 13, attribution: osmAttrib });

		var rect1 = {color: "#ff1100", weight: 3};
		var rect2 = {color: "#0000AA", weight: 1, opacity:0, fillOpacity:0};
		var miniMap = new L.Control.MiniMap(osm2, { toggleDisplay: true, aimingRectOptions : rect1, shadowRectOptions: rect2}).addTo(map);

        </script>

    {{ geo_json }}

</body>
</html>

