{% extends "layout.html" %}

{% block content %}

<link href="{{ url_for('static', filename='css/letreros.css') }}" rel="stylesheet">

<div class="text-center" style="height: 70vh;">
	<div class="col-md-8 main-section">
		<div class="modal-content">
			<div class="col-12 user-img">
				<span class="input-icon"><i class="fa fa-globe"></i></span>
			</div>
			<div class="col-12 form-input">
				<span>Bienvenido a Geografía Electoral !</span>
			</div>
			<div class="col-12 form-input">
				<span>Se encuentra habilitado para efectuar "acciones" de acuerdo al rol asignado.</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}
