{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
	<br>
	<div class="row">
	    <div class="col-md-6">
	        <h2>Bienvenido al Portal de Geografía Electoral !</h2>
	    </div>
	    <div class="col-md-6">
	    </div>
	</div>
	<br>
	<div class="row">
	    <div class="col-md-12">
	        <p>Donde encontrará información referente: Asientos/Recintos Electorales Nacional/Exterior y otras relacionadas a la Geografía Electoral. </p>
	    </div>
	</div>    
</div>
{% endblock %}
