{% extends "layout.html" %}

{% block content %}
<div class="jumbotron">
	<br>
	<div class="row">
	    <div class="col-md-6">
	        <h2>Bienvenido al Portal de Geografía Electoral !</h2>
	    </div>
	    <div class="col-md-5">
	    </div>
	    <div class="col-md-1" style="text-align: center;">
	        <a href="/help_doc"><i class="fa fa-book" aria-hidden="true" style="font-size:40px;"></i><br>Manual</a>
	    </div>
	</div>
	<br>
	<div class="row">
	    <div class="col-md-12">
	        <p>Donde encontrará información referente: Asientos/Recintos Electorales Nacional/Exterior y otras relacionadas a la Geografía Electoral. </p>
	    </div>
	</div>    
</div>
{% endblock %}
