{% extends "layout.html" %}

{% block content %}
<link href="{{ url_for('static', filename='css/letreros.css') }}" rel="stylesheet">

<div class="text-center" style="height: 70vh;">
	<div class="col-md-8 main-section">
		<div class="modal-content">
			<div class="col-12 user-img">
				<span class="input-icon"><img src="static/iconos/Logo_Ugle.png"></span>
			</div>
			<div class="col-12 form-input">
				<span>Bienvenido al Portal de Geografía Electoral !</span>
			</div>
			<div class="col-12 form-input">
				<span>Donde encontrará información referente: Asientos/Recintos Electorales Nacional/Exterior y otras relacionadas a la Geografía Electoral.</span>
			</div>
		</div>
	</div>
</div>
{% endblock %}
