<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">-->
<nav class="navbar navbar-expand-md bg-secondary navbar-d
ark  sticky-top">
    <a class="navbar-brand" href="#">
        <img src="static/iconos/Logo_OEP.png" alt="" style="border-radius: 5px; width: 200px height: 50px;">
    </a>
    <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="navb" class="navbar-collapse collapse 
    hide">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>

             <!-- {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle=" dropdown" aria-haspopup="true" aria-expanded="false">Asientos
                        </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/asientos_list">Asientos Electorales</a> 
                        {% if current_user.is_authenticated and current_user.usuario =='unacional' %}
                            <a class="dropdown-item" href="/exterior_list"
                                                        <a class="dropdown-item>Asientos Exterior</a> 
         Actualizar JuridicciónHomoogación</a>  {% endif %}
                    </div>
                </div>
            {% endif %} -->

             <li class="nav-item">
                <a class="nav-link" href="/asientos_list">Asientos Electorales</a>
            </li>

            <!-- PARA UNIDAD TERRITORIAL -->
            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ord. Territorial
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/paises_list">Pais</a>
                        <a class="dropdown-item" href="/deptos_list">Departamento</a>
                        <a class="dropdown-item" href="/provs_list">Provincia</a>
                        <a class="dropdown-item" href="/mun_list">Municipio</a>
                    </div>
                </div>
            {% endif %} 

            {% if current_user.is_authenticated and current_user.usuario =='admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="/m_usuarios">Usuarios</a>
                </li>
            {% endif %} 

            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recintos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         <a class="dropdown-item" href="/recintos_list">Uninominales</a>
                         <a class="dropdown-item" href="/reciespe_list">Especiales</a>
                         {% if current_user.is_authenticated and current_user.usuario =='unacional' %}
                           <a class="dropdown-item" href="/reciespeciales_list">Casos Especiales</a>
                         {% endif %}
                         <a class="dropdown-item" href="/zonas_list">Distritos</a>
                         <hr>
                         <a class="dropdown-item" href="/homologa_list">Asignar Homologación</a>
                         <a class="dropdown-item" href="/homologacion_list">Listar Homologación</a>
                    </div>
                </div>
            {% endif %}

            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Act. Jurisdicción</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         <a class="dropdown-item" href="/jurisd_asi_list">Asientos</a>
                         <a class="dropdown-item" href="/jurisdiccion_list">Recintos</a>
                    </div>
                </div>
            {% endif %} 

            {% if current_user.is_authenticated %}
            <!--Codigo Grover-Inicio-->
                <li class="nav-item">
                    <a class="nav-link" href="/documentos_list">Documentos</a>
                </li>
                <!--Codigo Grover-Final-->
                <li class="nav-item">
                    <a class="nav-link" href="/reportes">Reportes</a>
                </li>
            {% endif %}
            
            <!--Codigo Javier-Final-->

            {% if current_user.is_authenticated and current_user.usuario =='admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="/bitacora_list">Bitacora</a>
                </li>
            {% endif %} 

            {% if current_user.is_authenticated and current_user.usuario =='admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="/clas_grupo_list">Parametricos</a>
                </li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <!--<li class="nav-item">-->
                <!--<i><a class="nav-link" href="#">Usuario: {{ current_user.nombre }} {{ current_user.apellidos }} </a></i>-->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i>Usuario: {{ current_user.nombre }}  {{ current_user.apellidos }}</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/change_pwd">Cambio de Password</a>
                        <a class="dropdown-item" href={{ url_for( 'registro', usuario_id=usrid) }}>Actualiza Usuario</a>
                    </div>
                </div>
            <!--</li> -->
            {% endif %}

            <li class="nav-item">
                <!--<a class="nav-link" href="registro"><span class="fas fa-user"></span> Registro</a>-->
                <a class="nav-link" href={{ url_for( 'registro', usuario_id=0) }}><span class="fas fa-user"></span>Registro</a>
            </li>

            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span class="fas fa-sign-in-alt"></span> Ingresar</a>
                </li>
            {% endif %} 

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><span class="fas fa-sign-in-alt"></span> Salir</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
