<style>
    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }
</style>

<!--<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">-->
<nav class="navbar navbar-expand-md bg-secondary navbar-dark  sticky-top">
    <a class="navbar-brand" href="#">
        <img src="{{ url_for('static', filename='iconos/Logo_Ugle_Ho.jpg') }}" alt="" style="border-radius: 5px; width: 200px height: 50px;">
    </a>
    <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb" aria-expanded="true">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div id="navb" class="navbar-collapse collapse 
    hide">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>

            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Asientos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         <a class="dropdown-item" href="/asientos_list">Asientos Electorales</a>
                         {% if current_user.is_authenticated and usrdep == 0 %}
                            <a class="dropdown-item" href="/asi_excep_list">Caso Excepcional</a>
                            <a class="dropdown-item" href="/exterior_list">Asientos Exterior</a>
                         {% endif %}
                    </div>
                </div>
            {% endif %}

            <!--<li class="nav-item">
                <a class="nav-link" href="/asientos_list">Asientos</a>
            </li>-->

            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Recintos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         <a class="dropdown-item" href="/recintos_list">Uninominales</a>
                         <a class="dropdown-item" href="/reci_espec_list">Especiales (Indígenas) </a>
                         {% if current_user.is_authenticated and usrdep == 0 %}
                           <a class="dropdown-item" href="/reciespeciales_list">Casos Excepcionales</a>
                         {% endif %}
                         <a class="dropdown-item" href="/distritos_list">Distritos</a>
                         <a class="dropdown-item" href="/zonas_list">Zonas</a>
                         {% if current_user.is_authenticated and usrdep == 0 %}
                         <hr>
                         <a class="dropdown-item" href="/exterior_reci_list">Exterior</a>
                         <hr>
                         {% endif %}
                         <a class="dropdown-item" href="/homologa_list">Asignar Homologación</a>
                         {% if current_user.is_authenticated and usrdep == 0 %}
                         <a class="dropdown-item" href="/homologa_list_excep">Asignar Homologación Excepcional</a>
                         <hr>
                         {% endif %}
                         <a class="dropdown-item" href="/homologacion_list">Listar Homologación</a>
                         <hr>
                         <a class="dropdown-item" href="/vs/{{ usrdep  }}">Visor Recintos/Asientos</a>
                    </div>
                </div>
            {% endif %}


            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Act. Jurisdicción</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                         <a class="dropdown-item" href="/jurisd_asi_list">Asientos</a>
                         <a class="dropdown-item" href="/jurisdiccion_list">Recintos</a>
                    </div>
                </div>
            {% endif %} 


            <!-- Org.Territorial -->
            {% if current_user.is_authenticated %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Org. Territorial
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/paises_list">Pais</a>
                        <a class="dropdown-item" href="/deptos_list">1er. Nivel</a>
                        <a class="dropdown-item" href="/provs_list">2do. Nivel</a>
                        <a class="dropdown-item" href="/mun_list">3er. Nivel</a>
                    </div>
                </div>
            {% endif %} 

            {% if current_user.is_authenticated and current_user.usuario =='admin' %}
                <li class="nav-item">
                    <a class="nav-link" href="/m_usuarios">Usuarios</a>
                </li>
            {% endif %} 



            {% if current_user.is_authenticated %}
            <!--Codigo Grover-Inicio-->
                <li class="nav-item">
                    <a class="nav-link" href="/documentos_list">Documentos</a>
                </li>
                <!--Codigo Grover-Final-->
                <!--<li class="nav-item">
                    <a class="nav-link" href="/reportes">Reportes</a>
                </li>-->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reportes
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <!--<a class="dropdown-item" href="/reportes">Reportes Estadisticos</a>-->
                        <a class="dropdown-item dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                            Reportes Proceso Actualización
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/gerencial_asi">Asientos</a>
                            <a class="dropdown-item" href="/gerencial_reci">Recintos</a>
                        </div>
                    <a class="dropdown-item" href="/rep_loc_all">Asientos listado (todos)</a>
                    </div>
                </div>
            {% endif %}
            

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/bitacora_list">Historial</a>
                </li>
            {% endif %} 

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/grupo_list">Clasificadores</a>
                </li>
            {% endif %}

            {% if current_user.is_authenticated and usrdep == 0 %}
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sincronizar
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="/sincro_asi_list">Asientos</a>
                        <a class="dropdown-item" href="/sincro_reci_list">Recintos</a>
                    </div>
                </div>
            {% endif %}

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/help_doc" target="_blank">Ayuda</a>
                </li>
            {% endif %}
        </ul>

        <ul class="nav navbar-nav ml-auto">
            {% if current_user.is_authenticated %}
                <!--<li class="nav-item">-->
                <!--<i><a class="nav-link" href="#">Usuario: {{ current_user.nombre }} {{ current_user.apellidos }} </a></i>-->
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i>Usuario: {{ current_user.nombre }}  {{ current_user.apellidos }}</i>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/change_pwd">Cambio de Password</a>
                        <a class="dropdown-item" href={{ url_for( 'registro', usuario_id=usrid) }}>Actualiza Usuario</a>
                    </div>
                </div>
            <!--</li> -->
            {% endif %}

            <!--<li class="nav-item">-->
                <!--<a class="nav-link" href="registro"><span class="fas fa-user"></span> Registro</a>-->
                <!--<a class="nav-link" href={{ url_for( 'registro', usuario_id=0) }}><span class="fas fa-user"></span>Registro</a>
            </li>-->

            {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span class="fas fa-sign-in-alt"></span> Ingresar</a>
                </li>
            {% endif %} 

            {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><span class="fas fa-sign-in-alt"></span> Salir</a>
                </li>
            {% endif %}
        </ul>
    </div>
    {{ permisos_usr }}
</nav>
<script>
    $('.dropdown-submenu > a').on("click", function(e) {
        var submenu = $(this);
        $('.dropdown-submenu .dropdown-menu').removeClass('show');
        submenu.next('.dropdown-menu').addClass('show');
        e.stopPropagation();
    });

    $('.dropdown').on("hidden.bs.dropdown", function() {
        // hide any open menus when parent closes
        $('.dropdown-menu.show').removeClass('show');
    });
</script>
