{% extends "layout.html" %} {% block content %}

<div class="container">
    <h2 class="text-center text-blue pt-5">Registro - Pais</h2>

    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">


                <form action="" class="needs-validation" novalidate method='POST'>

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>IdPais:</label>
                            <input type="text" class="form-control" id="fIdPais" placeholder="Introduzca codigo Pais" name="fIdPais" required {% if load_u %} value="{{Pais_id}}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label>Pais:</label>
                            <input type="text" class="form-control" id="fPais" placeholder="Introduzca nombre" name="fPais" required {% if load_u %} value="{{p.Pais}}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Nombre PAis:</label>
                            <input type="text" class="form-control" id="fNomPais" placeholder="Introduzca NOm Pais" name="fNomPais" required {% if load_u %} value="{{p.NomPais}}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label>Nacionalidad:</label>
                            <input type="text" class="form-control" id="fNacionalidad" placeholder="Introduzca nACIONALIDAD" name="fNacionalidad" required {% if load_u %} value="{{p.Nacionalidad}}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                            <label>Estado [0 / 1]:</label>
                            <input type="text" class="form-control" id="fEstado" placeholder="Introduzca codigo" name="fEstado" required {% if load_u %} value="{{p.Estado}}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label>Codigo Internacional:</label>
                            <input type="text" class="form-control" id="fCodigoInternacional" placeholder="Introduzca cod internac" name="fCodigoInternacional" required {% if load_u %} value="{{p.CodigoInternacional}}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label>Cod Internacional ISO 3166:</label>
                            <input type="text" class="form-control" id="fCodigoInternacionalISO3166" placeholder="Introduzca Cod ISO 3166" name="fCodigoInternacionalISO3166" required {% if load_u %} value="{{p.CodigoInternacionalISO3166}}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                    </div>

                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="auth" required checked> Autenticado
                            <div class="invalid-feedback">Marque el checkbox para continuar.</div>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Aceptar</button>

                </form>
            </div>
        </div>
    </div>

    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }}
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

</div>

<script>
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();



    function checkp(input) {
        //alert(input.value);
        input.setCustomValidity('scv0');
        if (form.$pswd.value != input.value) {
            alert($pswd.value);
            input.setCustomValidity('scv');
            $("#v_pswd2").html("Error: Pasword NO coincide!");
        }
    }

    function validapswd2(input) {
        pswd = document.getElementById("pswd").value
        if (pswd != input.value) {
            input.setCustomValidity('scv');
            $("#v_pswd2").html("Error: Pasword NO coincide!");
        } else {
            input.setCustomValidity('');
        }

    }
</script>

{% endblock %}