{% extends "layout.html" %} {% block content %}

<div class="container">
    <h2 class="text-center text-blue pt-3">{{ titulo }}</h2>
    <br> {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-8">
                <form action="" class="needs-validation" novalidate method="POST">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="idoc">ABREVIATURA</label>
                            <input type="text" class="form-control" id="ipais" placeholder="Introduzca Abreviatura" name="Pais" required {% if load %} value="{{ s.pais }}" {% endif %}>
                            <div class="invalid-feedback">Debe Seleccionar un Tipo de Documento...</div>
                        </div>

                        <div class="col-md-6">
                            <label for="cite">PAIS:</label>
                            <input type="text" class="form-control" id="inomPais" placeholder="Introduzca Pais" name="NomPais" required {% if load %} value="{{ s.nompais }}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>

                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="cite">NACIONALIDAD:</label>
                            <input type="text" class="form-control" id="inal" placeholder="Introduzca Nacionalidad" name="Nal" required {% if load %} value="{{ s.nacionalidad }}" {% endif %}>
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>

                        <div class="col-md-6">
                            <label for="iestado">Estado</label>
                            <select id="iestado" name=Estado class="form-control">
                            <!-- <select id="iestado" name=Estado class="form-control" required {% if usuario !='unacional' %} disabled {% endif %}> -->

                                <option></option>    

                                <option value=1 
                                    {% if load  and s.estado == 1 %}
                                            selected
                                        
                                    {% endif %}
                                >Habilitado</option>

                                <option value=0
                                    {% if load  and s.estado == 0 %}
                                            selected
                                       
                                    {% endif %}
                                >Inhabilitado</option>
                                
                            </select> {% if usrdep != 0 %}
                            <input type="hidden" name="Estado" value={{ usrdep }}> {% endif %}
                            <div class="invalid-feedback">Debe Seleccionar un Estado...</div>
                        </div>
                    </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label for="cite">COD. INTERNACIONAL:</label>
                    <input type="text" class="form-control" id="icodInter" placeholder="Cod. Internacional" name="codInter" required {% if load %} value="{{ s.codigointer }}" {% endif %}>
                    <div class="invalid-feedback">Por favor ingrese datos.</div>
                </div>

                <div class="col-md-6">
                    <label for="cite">COD. INTERNACIONAL ISO 3166:</label>
                    <input type="text" class="form-control" id="icodInterISO3166" placeholder="Cod. Internacional ISO" name="codInterISO3166" required {% if load %} value="{{ s.codigointerISO }}" {% endif %}>
                    <div class="invalid-feedback">Por favor ingrese datos.</div>
                </div>
            </div>
            <br>

            <div class="row ">

                <div class="col-md-4 ">
                    <label for="fecharegistro ">Fecha y Hora de Registro:</label>
                    <input type="date " class="form-control " id="ifecharegistro" title=" " placeholder="Fecha de Registro. " name="fecharegistro" readonly {% if load %} value="{{ s.fechaingreso }} " {% else %} value="{{ idatetime }} " {% endif %}>
                    <div class="invalid-feedback " id="v_fechaIngreso ">Debe introducir una fecha válida.</div>
                </div>

                <div class="col-md-4 ">
                    <label for="fechaingreso ">Fecha y Hora Actual:</label>
                    <input type="date " class="form-control " id="ifechaactual" title=" " placeholder="Fecha Actual. " name="fechaactual" readonly {% if load %} value="{{ s.fechaactual }} " {% else %} value="{{ idatetime }} " {% endif %}>
                    <div class="invalid-feedback " id="v_fechaIngreso ">Debe introducir una fecha válida.</div>
                </div>

                <div class="col-md-4 ">
                    <label for="usuario ">Usuario Logueado:</label>
                    <input type="text " class="form-control " id="iusuario" title=" " placeholder="Usuario " name="usuario" readonly {% if load %} value="{{ s.usuario }} " {% else %} value="{{ usuario }} " {% endif %}>
                    <div class="invalid-feedback ">Debe introducir un nombre válido.</div>
                </div>

            </div>

            <br>

            <div class="row ">
                <div class="col-md-6 mb-3 ">
                    <button type="button " onclick="javascript: window.location.href='/paises_list' ; " class="btn btn-outline-danger btn-md btn-block ">Cancelar</button>

                </div>
                <div class="col-md-6 mb-3 ">
                    <button type="submit" class="btn btn-outline-success btn-md btn-block ">Aceptar</button>
                </div>
            </div>
            <!--row-->
            </form>
        </div>
    </div>
</div>

{% if error %}
<br>
<div class="alert alert-danger alert-dismissible fade show ">
    <strong>Error!</strong> {{ error }}
    <button type="button " class="close " data-dismiss="alert ">&times;</button>
</div>
{% endif %}

</div>

<script>
    $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected ").html(fileName);
    });
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock %}
