{% extends "layout.html" %}

{% block content %}

{% block js_css %}
    <link href="{{ url_for('static', filename='css/leaflet1.5.1/leaflet.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/leaflet1.5.1/leaflet.js') }}"></script>

    <script src="{{ url_for('static', filename='js/uts/buildmap_reci.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uts/buildmap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/uts/cargar.js') }}"></script>
{% endblock %}

<div class="container">
    <h2 class="text-center text-blue pt-5" >Recinto Especial</h2>
    <br>
    <form class="needs-validation" action="{{ url_for('reciespe', idreci = rce.reci, idlocreci = rce.idlocreci) }}" novalidate method='POST' onsubmit="return Validation(this)" name="form">
        <div class="form-row">
            <div class="col-md-3">
                <label for="latitud">Latitud:</label>
                <input type="text" class="form-control" id="ilatitud" title="" placeholder="Introduzca latitud" name="latitud"  required pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}"
                        {% if load %}
                            value="{{ rce.latitud }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir una coordenada válida.</div>
            </div>
            <div class="col-md-3">
                <label for="longitud">Longitud:</label>
                <input type="text" class="form-control" id="ilongitud" title="" placeholder="Introduzca longitud" name="longitud"  required pattern="^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}" onkeydown="getgeoesp(event)"
                        {% if load %}
                            value="{{ rce.longitud }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir una coordenada válida.</div>
            </div>
            <div class="col-md-1">
                <label for="circun">CIR:</label>
                <input type="text" class="form-control" id="icircun" title="" placeholder="Circun." name="circun"  readonly required pattern="[0-9]{1}"
                        {% if load %}
                            value="{{ rce.circundist }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir CIRCUN.</div>
            </div>
            <div class="col-md-3">
                <label for="">.</label>
                <button type='button' class="btn btn-info btn-md btn-block" onclick="getgeoesp(event)" >Visualizar imágen Satelital</button>
            </div>
            <div class="col-md-2">
                <label for="">.</label>
                <button type='button' class="btn btn-info btn-md btn-block" onclick="cargar(this.value, 8)" >Ver Pueblos Indig.</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1">
                <label for="dep">DEP:</label>
                <input type="text" class="form-control" id="ideploc" title="" placeholder="DEP" name="deploc"  readonly required pattern="[0-9]{1}"
                        {% if load %}
                            value="{{ rce.deploc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir DEP.</div>
            </div>
            <div class="col-md-2">
                <label for="departamento">Departamento:</label>
                <input type="text" class="form-control" id="idepartamento" title="" placeholder="departamento" name="departamento" disabled
                        {% if load %}
                            value="{{ rce.nomdep }}"
                        {% endif %}
                    >
            </div>

            <div class="col-md-1">
                <label for="prov">PROV:</label>
                <input type="text" class="form-control" id="iprovloc" title="" placeholder="PROV" name="provloc"  readonly required pattern="[0-9]{1}"
                        {% if load %}
                            value="{{ rce.provloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir PROV.</div>
            </div>
            <div class="col-md-2">
                <label for="provincia">Provincia:</label>
                <input type="text" class="form-control" id="iprovincia" title="" placeholder="provincia" name="provincia" disabled
                        {% if load %}
                            value="{{ rce.nomprov }}"
                        {% endif %}
                    >
            </div>
            <div class="col-md-1">
                <label for="sec">SEC:</label>
                <input type="text" class="form-control" id="isecloc" title="" placeholder="SEC" name="secloc"  readonly required pattern="[0-9]{1}"
                        {% if load %}
                            value="{{ rce.secloc }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir SEC.</div>
            </div>
            <div class="col-md-3">
                <label for="municipio">Municipio:</label>
                <input type="text" class="form-control" id="imunicipio" title="" placeholder="municipio" name="municipio" disabled
                        {% if load %}
                            value="{{ rce.nomsec }}"
                        {% endif %}
                    >
            </div>
            <div class="col-md-2">
                <label for="pueblo">Pueblos Indigenas:</label>
                <select id="ipueblo" name="pueblo" class="form-control" required>
                    {% for nacion in naciones %}
                        {% if load and rce.nacionId==nacion[0] %}
                                <option value = "{{ nacion[0] }}" selected>{{ nacion[1] }}</option>
                        {% else %}
                                <option value = "{{ nacion[0] }}">{{ nacion[1] }}</option>
                        {% endif %}                                                                
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Debe Seleccionar el Pueblo Indigena...</div>
            </div>
        </div> <!--row-->
        <br>
        <div class="row">
            <div class="col-md-3">
                <label for="">.</label>
                <button type='button' class="btn btn-info btn-md btn-block" onclick="getgeoreci(event)" >Ver Asientos / Zonas</button>
            </div>
            <div class="col-md-3">
                <label for="asiento">Asientos del Municipio:</label>
                <input type="hidden" name="reci_idasiento" value="rce.idlocreci">
                <select id="iasiento" name=asiento class="form-control" onchange="cargar(this.value, 5)" required>
                    {% for asientoReci in asientoRecis %}
                        {% if rce.deploc==asientoReci[0] and rce.provloc==asientoReci[1] and rce.secloc==asientoReci[2] %}
                            {% if load and rce.idlocreci==asientoReci[3] %}
                                    <option value = "{{ rce.circundist~':'~asientoReci[3] }}" selected>{{ asientoReci[4] }}</option>
                            {% else %}
                                    <option value = "{{ rce.circundist~':'~asientoReci[3] }}">{{ asientoReci[4] }}</option>
                            {% endif %}
                       {% endif %}                                                     
                    {% endfor %}        
                </select>
                <div class="invalid-feedback">Debe Seleccionar un Asiento...</div>
            </div>
            <div class="col-md-4">
                <label for="zonareci">Zona del Recinto:</label>
                <input type="hidden" name="reci_idzona" value="{{ rce.zonareci }}">
                <select id="izonareci" name="zonareci" class="form-control" required>                          
                    <option></option>
                    {% for zonasreci in zonasRecis %}
                        {% if rce.idlocreci==zonasreci[0] and rce.circundist==zonasreci[3] %}
                            {% if load and rce.zonareci==zonasreci[1] %}
                                    <option value = "{{ zonasreci[1] }}" selected>{{ zonasreci[2] ~'('~'Cir '~zonasreci[3]~')' }}</option>
                            {% else %}
                                    <option value = "{{ zonasreci[1] }}">{{ zonasreci[2] ~'('~'Cir '~zonasreci[3]~')' }}</option>
                            {% endif %}
                        {% endif %}                                                                
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Debe Seleccionar la Zona del Recinto...</div>
            </div>
            <div class="col-md-2">
                <label for="zonareci">Zona y Distrito:</label>
                <button type="button" class="btn btn-info btn-block openBtn">Registrar</button>
            </div>
        </div> <!--row-->

        <br>
        <div class="row">
            <div class="col-lg-12">
            <div id="dmap" style="width: 1110px; height: 600px;"></div>
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-md-1">
                <label for="idloc">IdLoc:</label>
                <input type="text" class="form-control" id="iidloc" title="" placeholder="IdLoc" name="idloc" disabled
                        {% if load %}
                            value="{{ rce.idlocreci }}"
                        {% endif %}
                    >
            </div>
            <div class="col-md-1">
                <label for="reci">Reci:</label>
                <input type="text" class="form-control" id="ireci" title="" placeholder="Reci" name="reci" disabled
                        {% if load %}
                            value="{{ rce.reci }}"
                        {% endif %}
                    >
            </div>
            <div class="col-md-7">
                <label for="nomreci">Recinto Especial:</label>
                <input type="text" class="form-control" id="inomreci" title="" placeholder="Introduzca nombre de Recinto" name="nomreci"  required 
                        {% if load %}
                            value="{{ rce.nomreci }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un nombre válido.</div>
            </div>
            <div class="col-md-3">
                <label for="iestado">Estado</label>
                <select id="iestado" name="estado" class="form-control" required>
                    <option></option>
                    {% for estado in estados %}
                        {% if load and rce.estado==estado[0] %}
                                <option value = "{{ estado[0] }}" selected>{{ estado[1] }}</option>
                        {% else %}
                                <option value = "{{ estado[0] }}">{{ estado[1] }}</option>
                        {% endif %}                                                                
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Debe Seleccionar el Estado...</div> 
            </div>
        </div> <!--row-->
        <br>
        <div class="row">
            <div class="col-md-4">
                <label>Tipo de Recinto</label>
                <select id="itiporeci" name="tiporeci" class="form-control" onchange="carg(this);">
                    <option></option>
                    {% for trecinto in trecintos %}
                        {% if load and rce.tiporecinto==trecinto[0] %}
                                <option value = "{{ trecinto[0] }}" selected>{{ trecinto[1] }}</option>
                        {% else %}
                                <option value = "{{ trecinto[0] }}">{{ trecinto[1] }}</option>
                        {% endif %}                                                                
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Debe Seleccionar el Tipo de Recinto...</div>
            </div>
            <div class="col-md-2">
                <label for="ruereci">Cod. RUE:</label>
                <input type="text" class="form-control" id="iruereci" title="" placeholder="Introduzca codigo RUE." name="ruereci"  required pattern="^ *\d[\d ]*$"
                        {% if load and rce.codrue != '0' %}
                            enabled value="{{ rce.codrue }}"
                         {% else %}
                            disabled   
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_poblacionloc">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-2">
                <label for="edireci">Cod. Edificio:</label>
                <input type="text" class="form-control" id="iedireci" title="" placeholder="Introduzca codigo del Edificio" name="edireci"  required pattern="^ *\d[\d ]*$"
                        {% if load and rce.codrueedif != '0' %}
                            enabled value="{{ rce.codrueedif }}"
                         {% else %}
                            disabled
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_poblacionelecloc">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-4">
                <label for="depenreci">Tipo de Dependencia:</label>
                <input type="hidden" name="reci_iddepen" value="">                          
                <select id="idepenreci" name=depenreci class="form-control" required
                        {% if load and rce.codrueedif != '0' %}
                                enabled
                         {% else %}
                                disabled
                        {% endif %}
                        >
                        <option></option>                                                          
                        <option value=63 
                            {% if load  and rce.depend == 63 %}
                                    selected  
                            {% endif %}
                        >Particular</option>
                        <option value=64
                            {% if load  and rce.depend == 64 %}
                                    selected 
                            {% endif %}
                        >Fiscal</option>
                        <option value=65
                            {% if load  and rce.depend == 65 %}
                                    selected 
                            {% endif %}
                        >Convénio</option>
                        <option value=66 
                            {% if load  and rce.depend == 66 %}
                                    selected 
                            {% endif %}
                        >Otro</option>
                </select>
                <div class="invalid-feedback">Debe Seleccionar un Tipo de Dependencia...</div>
            </div>
        </div> <!--row-->
        <br>
        <div class="row">
            <div class="col-md-2">
                <label for="pisosreci">Cantidad de Pisos:</label>
                <input type="text" class="form-control" id="ipisosreci" title="" placeholder="Introduzca cantidad de pisos" name="pisosreci"  required pattern="^ *\d[\d ]*$" onkeypress="return validacionPisos(event)"
                        {% if load %}
                            value="{{ rce.cantpisos }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-2">
                <label for="mesasreci">Mesa(max.):</label> 
                <input type="text" class="form-control" id="imesasreci" title="" placeholder="Max." name="mesasreci"  required pattern="^ *\d[\d ]*$"  onkeypress="return validacionMax(event)"
                        {% if load %}
                            value="{{ rce.maxmesasreci }}"
                        {% endif %}
                    >
                <div class="invalid-feedback" id="v_poblacionloc">Debe introducir un dato válido.</div>
            </div>
            <div class="col-md-8">
                <label for="dirreci">Dirección del Recinto:</label>
                <input type="text" class="form-control" id="idirreci" title="" placeholder="Introduzca descripción de ubicación" name="dirreci"  
                        {% if load %}
                            value="{{ rce.direccion }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un dato válido.</div>
            </div>
        </div> <!--row-->
        <br>
        <div class="row">
            <div class="col-md-6">
                <label for="ietapa">Etapa</label>
                <select id="ietapa" name=etapa class="form-control" onchange="carg1(this);">
                    <option value=70 
                        {% if load  and rce.etapa == 70 %}
                            selected 
                        {% endif %}
                    >Propuesta</option>
                    <option value=71
                        {% if load  and rce.etapa == 71 %}
                            selected 
                        {% endif %}
                    >Devuelto</option>
                    {% if usrdep == 0 %}
                        <option value=72
                            {% if load  and rce.etapa == 72 %}
                                selected 
                            {% endif %}
                        >Revisión</option>
                        <option value=73
                            {% if load  and rce.etapa == 73 %}
                                selected 
                            {% endif %}
                        >Aprobado</option>
                        <option value=74
                            {% if load  and rce.etapa == 74 %}
                                selected 
                            {% endif %}
                        >Aprobado con Correpción</option>
                    {% endif %}
                </select> 
            </div>
            <div class="col-md-5">
                <label for="docAct">Documento Actualización:</label>
                <input type="hidden" name="doc_idAct" value="">
                <select id="idocAct" name=docAct class="form-control" required>                          
                    <option></option>
                    {% for tpdfA in tpdfsA %}
                        {% if load and rce.doc_idA == tpdfA[0] %}
                                <option value = "{{ tpdfA[0] }}" selected>{{ '<'~tpdfA[1]~'> '~': '~tpdfA[2]~' _ '~tpdfA[3] }}</option>
                        {% else %}
                                <option value = "{{ tpdfA[0] }}">{{ '<'~tpdfA[1]~'> '~': '~tpdfA[2]~' _ '~tpdfA[3] }}</option>
                        {% endif %}                                                                
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Debe Seleccionar un Tipo de Documento...</div>
            </div>
            <div class="col-md-1"><a href="{{ rce.rutaA }}" target="_blank">
                                    {% if load %}
                                        <i class="fas fa-file-pdf" style="font-size: 25px;display: inline-block; margin-top: 40px;"></i>
                                    {% endif %}
                                 </a></div>
        </div> <!--row-->
        <div class="row">
            <div class="col-md-6">
                <!--columna vacia-->                
            </div>
            <div class="col-md-5">
                <label for="docAct">Documento Actualización Final:</label>
                <select id="idocActF" name=docActF class="form-control" required disabled>                          
                    <option></option>
                    {% for tpdfA in tpdfsA %}
                        {% if load and rce.doc_idAF == tpdfA[0] %}
                                <option value = "{{ tpdfA[0] }}" selected>{{ '<'~tpdfA[1]~'> '~': '~tpdfA[2]~' _ '~tpdfA[3] }}</option>
                        {% else %}
                                <option value = "{{ tpdfA[0] }}">{{ '<'~tpdfA[1]~'> '~': '~tpdfA[2]~' _ '~tpdfA[3] }}</option>
                        {% endif %}                                                                
                    {% endfor %}
                </select>
                <div class="invalid-feedback">Debe Seleccionar un Tipo de Documento...</div>
            </div>
            <div class="col-md-1"><a href="{{ rce.rutaAF }}" target="_blank">
                                    {% if load %}
                                        <i class="fas fa-file-pdf" style="font-size: 25px;display: inline-block; margin-top: 40px;"></i>
                                    {% endif %}
                                 </a></div>
        </div> <!--row-->

        <br>
        <div class="row">
            <div class="col-md-3">
                <label for="fechaIngreso">Fecha Ingreso al Sistema:</label>
                <input type="datetime" class="form-control" id="ifechaIngreso" title="" placeholder="Fecha de Ingreso." name="fechaIngreso" readonly "  
                        {% if load %}
                            value="{{ rce.fechaIngreso }}"
                        {% else %}
                            value="{{ idatetime }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir una fecha válida.</div>
            </div>
            <div class="col-md-3">
                <label for="fechaAct">Fecha Actualización:</label>
                <input type="datetime" class="form-control" id="ifechaAct" title="" placeholder="Fecha de Actualización" name="fechaAct" readonly "  
                        {% if load %}
                            value="{{ rce.fechaAct }}"
                        {% else %}
                            value="{{ idatetime }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir una fecha válida.</div>
            </div>
            <div class="col-md-6">
                <label for="usuario">Usr.que realizó la última actualización:</label>
                <input type="text" class="form-control" id="iusuario" title="" placeholder="Usuario" name="usuario"  readonly "
                        {% if load %}
                            value="{{ rce.usuario }}"
                        {% else %}
                            value="{{ usuario }}"
                        {% endif %}
                    >
                <div class="invalid-feedback">Debe introducir un nombre válido.</div>
            </div>
        </div> <!--row-->

        <br>

        <div class="row">
            <div class="col-md-6">
                <button type="button"  onclick="javascript: window.location.href = '/reciespe_list';"  class="btn btn-outline-danger btn-lg btn-block">Cancelar</button>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-outline-success btn-lg btn-block" 
                    {% if puede_editar %}
                        enabled
                    {% else %}
                        disabled
                    {% endif %}
                >Aceptar</button>
            </div>
        </div> <!--row-->

    </form>

    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
</div> <!--main-->

<script>
    var ruereci = document.getElementById('iruereci');
    var edireci = document.getElementById('iedireci');
    var depenreci = document.getElementById('idepenreci');

    function carg(elemento) {
      d = elemento.value;
      if(d == 7){
        ruereci.disabled = false;
        edireci.disabled = false;
        depenreci.disabled = false;
        ruereci.focus();
      }else{
        ruereci.disabled = true;
        edireci.disabled = true;
        depenreci.disabled = true;
        ruereci.value="";
        edireci.value="";
        document.getElementById('idepenreci').selectedIndex = 0;
      }
    }

    var input = document.getElementById('idocActF');

    function carg1(elemento) {
      d = elemento.value;
      console.log(d);
      if(d == 74){
        input.disabled = false;
      }else{
        input.disabled = true;
      }
    }

    $('.openBtn').on('click',function(){
        $('.modal-body').load('/zona1.html',function(){
            $('#exampleModal').modal({show:true});
        });
    });
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

    function validacionMax(event) {
      var key = event.which || event.keyCode;
      /* Observamos el resultado que generará la tecla */
      var max = parseInt(form.mesasreci.value + String.fromCharCode(key)
      );
      /* Si no está dentro de lo esperado cancelamos la pulsación */
      if (isNaN(max) === true || max < 1 || max > 300) {
        return false;
      }
      return true;
    }

    function validacionPisos(event) {
      var key = event.which || event.keyCode;
      /* Observamos el resultado que generará la tecla */
      var max = parseInt(form.pisosreci.value + String.fromCharCode(key)
      );
      /* Si no está dentro de lo esperado cancelamos la pulsación */
      if (isNaN(max) === true || max < 1 || max > 10) {
        return false;
      }
      return true;
    }

    // Below Function Executes On Form Submit
    function Validation(f) {
        if (f.tiporeci.value == '') {
            alert('Debe especificar tipo de Recinto...');
            return false;
        }

        return true;
    }
</script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-11">  
          <h2 class="text-center text-blue pt-3" >{{ titulo }}</h2>  
          <div class="modal-body">
            <div id="successAlert" class="alert alert-success" role="alert" style="display:none; text-align: center;"></div>
            <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none; text-align: center;"></div>    
            <form id="myForm" class="needs-validation" novalidate method="POST" action="javascript:void();" onsubmit="return enviar();">                
                <div class="row">
                    <div class="col-md-3">
                        <label for="idloc">IdLoc:</label>
                        <input type="text" class="form-control" id="iidlocreci" title="" placeholder="Instroduzca IdLoc" name="idlocreci" required readonly 
                                {% if load %}
                                    value="{{ rce.idlocreci }}"
                                {% endif %}
                            >
                        <div class="invalid-feedback">Ingrese codigo IdLoc...</div>
                    </div>
                    <div class="col-md-3">
                        <label for="nomzona">Refresh:</label>
                        <button type="button" class="btn btn-light btn-block"><a onclick="cargar(this.value, 7)"><i class="fas fa-sync-alt" style="font-size: 25px;"></i></a></button>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div> <!--row-->
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <label for="nomzona">Nombre de la Zona:</label>
                        <input type="text" class="form-control" id="inomzona" placeholder="Introduzca la Zona" name="nomzona" required
                            {% if load %}
                                value=""        
                            {% endif %}
                        >
                        <div class="invalid-feedback">Por favor ingrese la Zona...</div>
                    </div>
                </div>
                <h5 class="text-left text-blue pt-5" >Datos del Distrito (Circunscripción):</h5>
                <div class="row">
                    <div class="col-md-2">
                        <label for="nrodist">Circun.:</label>
                        <input type="text" class="form-control" id="inrodist" placeholder="Nro." name="nrodist" required readonly
                            {% if load %}
                                value="{{ rce.circundist }}"        
                            {% endif %}
                        >
                        <div class="invalid-feedback">Por favor ingrese El Nro. del Distrito...</div>
                    </div>
                    <div class="col-md-7">
                        <label for="nomdist">Nombre del Distrito:</label>
                        <select id="inomdist" name="nomdist" class="form-control" required>
                        </select>
                        <div class="invalid-feedback">Debe Seleccionar el Distrito...</div>
                    </div>
                    <div class="col-md-3">
                        <label for="nomdist">Nuevo Dist</label>
                        <button type="button" class="btn btn-light btn-block"><a href="javascript:void();" onclick="document.getElementById('form1').submit();"><span class="fas fa-university" style="font-size: 25px;"></span></a></button>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <label for="fechaIngreso">Registro:</label>
                        <input type="datetime" class="form-control" id="ifechaIngresoM" title="" placeholder="Fecha de Registro." name="fechaIngresoM" readonly
                                {% if load_d %}
                                    value=""
                                {% else %}
                                    value="{{ idatetime }}"
                                {% endif %}
                            >
                        <div class="invalid-feedback" id="v_fechaIngreso">Debe introducir una fecha válida.</div>
                    </div>
                    <div class="col-md-4">
                        <label for="fechaAct">Actual:</label>
                        <input type="datetime" class="form-control" id="ifechaActM" title="" placeholder="Fecha Actual." name="fechaActM" readonly
                                {% if load_d %}
                                    value=""
                                {% else %}
                                    value="{{ idatetime }}"
                                {% endif %}
                            >
                        <div class="invalid-feedback" id="v_fechaAct">Debe introducir una fecha válida.</div>
                    </div>                        
                    <div class="col-md-4">
                        <label for="usuario">Usuario:</label>
                        <input type="text" class="form-control" id="iusuario" title="" placeholder="Usuario" name="usuario"  readonly 
                                {% if load_d %}
                                    value=""
                                {% else %}
                                    value="{{ usuario }}"
                                {% endif %}
                            >
                        <div class="invalid-feedback">Debe introducir un nombre válido.</div>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <button type="button" id="cerrar" onclick="cerrarmodal()" class="btn btn-outline-danger btn-md btn-block" data-dismiss="modal">Cancelar</button>
                    </div>
                    <div class="col-md-6 mb-3">
                        <button type="submit" class="btn btn-outline-success btn-md btn-block" 
                        >Aceptar</button>
                    </div>
                </div> <!--row-->
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
    function enviar(){
        var valor = document.getElementById("inomzona").value;
        if( valor == null || valor.length == 0 || /^\s+$/.test(valor) ) {
          return false;
        }
        var indice = document.getElementById("inomdist").selectedIndex;
        if( indice == null || indice == 0 ) {
          return false;
        }
        var idloc = document.getElementById('iidlocreci').value;
        var nomzona = document.getElementById('inomzona').value;
        var circundist = document.getElementById('inrodist').value;
        var nomdist = document.getElementById('inomdist').value;
        var fingreso = document.getElementById('ifechaIngresoM').value;
        var factual = document.getElementById('ifechaActM').value;
        var usuario = document.getElementById('iusuario').value;
        var dataenv = 'idloc='+idloc +'&nomzona='+nomzona +'&circundist='+circundist +'&nomdist='+nomdist +
                      '&fingreso='+fingreso +'&factual='+factual + '&usuario='+usuario;
        $.ajax({
            type: 'POST',
            url: '/zonasr',
            data: dataenv
        })
        .done(function(data) {
            if (data.error) {
                $('#errorAlert').text(data.error).show();
                $('#successAlert').hide();
            }
            else {
                $('#successAlert').text(data.name).show();
                $('#errorAlert').hide();
                document.getElementById('inomzona').value = "";
                document.getElementById('inomdist').selectedIndex = 0;
            }

        });
        setTimeout(function(){
               $('#exampleModal').modal('hide');
               $('#successAlert').hide();
               $('#errorAlert').hide();
               $('#iasiento').html('');
               $("#iasiento").append('<option></option>');
               $('#izonareci').html('');
               $("#izonareci").append('<option></option>');
        }, 3000);
        /*$('#button').submit(function(e) {
               e.preventDefault();
               $('#exampleModal').modal('hide');
               return false;
        });*/
    }
    function cerrarmodal(){
        $("#iasiento").val('0');
        $('#izonareci').html('');
        $("#izonareci").append('<option></option>');
        window.close();
    }
</script>
<!-- Otro Modal -->

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-11">  
          <h2 class="text-center text-blue pt-3" >{{ titulo }}</h2>  
          <div class="modal-body">    
            <form id="form1" action="{{ url_for('zonasre') }}" target="_blank" class="needs-validation" novalidate method="POST">                
                <div class="row">
                    <div class="col-md-3">
                        <label for="idloc">IdLoc:</label>
                        <input type="text" class="form-control" id="iidlocreci1" title="" placeholder="Instroduzca IdLoc" name="idlocreci1" required readonly 
                                {% if load %}
                                    value="{{ rce.idlocreci }}"
                                {% endif %}
                            >
                        <div class="invalid-feedback">Ingrese codigo IdLoc...</div>
                    </div>
                    <div class="col-md-9">
                    </div>
                </div> <!--row-->
                <div class="row">
                    <div class="col-md-2">
                        <label for="nrodist">Circun.:</label>
                        <input type="text" class="form-control" id="inrodist1" placeholder="Nro." name="nrodist1" required readonly
                            {% if load %}
                                value="{{ rce.circundist }}"        
                            {% endif %}
                        >
                        <div class="invalid-feedback">Por favor ingrese El Nro. del Distrito...</div>
                    </div>
                    <div class="col-md-10">
                        <label for="nomdist">Nombre del Distrito:</label>
                        <select id="inomdist" name="nomdist" class="form-control">
                        </select>
                        <div class="invalid-feedback">Debe Seleccionar el Distrito...</div>
                    </div>
                </div>
            </form>
          </div>
        </div>  
      </div>
    </div>
  </div>
</div>


{% endblock %}
<!--https://programacion.net/articulo/como_cargar_contenido_dinamico_en_un_modal_de_bootstrap_1867-->
