{% extends "layout.html" %}

{% block content %}
{% block js_css %}
    <link href="{{ url_for('static', filename='css/leaflet1.5.1/leaflet.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/leaflet1.5.1/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uts/reci_datos.js') }}"></script>
{% endblock %}

<div class="container">
    <br>
    <h2 class="text-center text-blue pt-3" >{{ titulo }}</h2>
    <br>
    
    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

    {% if dook %}
    <br>
    <div class="alert alert-success alert-dismissible fade show">
        <strong>Mensaje: </strong> {{ dook }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <script>document.getElementById('i')</script>
    </div>
    {% endif %}

    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-8">
            <div id="login-box" class="col-md-12">
                <form action="{{ url_for('reci_dist_add', nalext = 'nal') }}" class="needs-validation" novalidate method="POST">                
                    <div class="row">
                        <div class="col-md-3">
                            <label for="idloc">IdLoc:</label>
                            <input type="text" class="form-control" id="iidloc"  name="idloc" 
                                        placeholder="Instroduzca IdLoc" required readonly 
                                        value="{{ idloc }}"
                                >
                            <div class="invalid-feedback">Ingrese codigo IdLoc...</div>
                        </div>
                        <div class="col-md-9">
                            <label for="nomloc">Nombre Asiento:</label>
                            <input type="text" class="form-control" id="inomloc" name="nomloc" 
                                        placeholder="Instroduzca Nombre del Asiento" required readonly
                                        value="{{ nomloc }}"
                                >
                            <div class="invalid-feedback">Ingrese Nombre Asiento...</div>
                        </div>
                    </div> <!--row-->
                    <br>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="nomdist">Nombre del Distrito (Confirme Nombre):</label>
                            <input type="text" class="form-control" id="inomdist" name="nomdist" 
                                placeholder="Introduzca el Nombre del Distrito" required 
                                onkeypress="return !char_restringidos.includes(event.charCode)"
                                value="{{ nomdist }}"
                            >
                            <div class="invalid-feedback">Por favor ingrese el Nombre del Distrito...</div>
                        </div>
                        <div class="col-md-2">
                            <label for="distgeo">id(Espacial):</label>
                            <input type="text" class="form-control"  id="idistgeo" name="distgeo" required readonly
                                    value="{{ distgeo }}"          
                            >
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="fechaIngreso">Fecha y Hora de Registro:</label>
                            <input type="datetime" class="form-control" id="ifechaIngreso" 
                                        placeholder="Fecha de Registro." name="fechaIngreso" readonly
                                        value="{{ idatetime }}"
                            >
                        </div>
                        <div class="col-md-4">
                            <label for="fechaAct">Fecha y Hora Actual:</label>
                            <input type="datetime" class="form-control" id="ifechaAct" name="fechaAct" 
                                        placeholder="Fecha Actual." readonly
                                        value="{{ idatetime }}"
                            >
                        </div>                        
                        <div class="col-md-4">
                            <label for="usuario">Usuario Logueado:</label>
                            <input type="text" class="form-control" id="iusuario" name="usuario" 
                                        placeholder="Usuario" readonly 
                                        value="{{ usuario }}"
                            >
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <button type="button"
                            {% if dook %}  
                                    onclick="javascript: window.close();"
                                {% else %}
                                    onclick="javascript: window.close();"
                            {% endif %}      
                            class="btn btn-outline-danger btn-md btn-block">
                            {% if dook %}
                                    Cerrar
                                {% else %}
                                    Cancelar/Cerrar
                            {% endif %}        
                            </button>
                        </div>

                        <div class="col-md-6 mb-3">
                            <button type="submit" class="btn btn-outline-success btn-md btn-block"
                            {% if dook %}
                                disabled
                            {% else %}
                                enabled
                            {% endif %}

                            {% if not puede_editar %}
                                disabled
                            {% endif %}

                            >Aceptar</button>
                        </div>
                    </div> <!--row-->
                </form>
            </div>
        </div>
    </div>

</div>

<script>
    char_restringidos = [34,44,61,43,136,124,42,59,58,94,95,172,36,37,96,64, 191,63,161,33,123,125,92,47,60,62 ];  // ",=+~|*;:^_¬$%`@  ¿?¡!{}\/<>

    $('.custom-file-input').on('change', function() { 
          let fileName = $(this).val().split('\\').pop(); 
          $(this).next('.custom-file-label').addClass("selected").html(fileName); 
    });    
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{% endblock %}
