{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h3 class="text-center text-blue pt-5" >Registro de Usuarios</h5>

    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
            <div id="login-box" class="col-md-12">


                <form action="" class="needs-validation" novalidate method='POST'>
                    <div class="form-group">
                        <label for="uname">Usuario:</label>
                            <input type="text" class="form-control" id="uname" placeholder="Introduzca usuario" name="uname" required pattern="\w+"
                                {% if load_u %}
                                    value="{{ u.usuario }}"
                                    readonly
                                {% endif %}
                            >
                        <div class="invalid-feedback" id="v_uname">Debe contener sólo letras, números, y guión "bajo".</div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="nombre">Nombre:</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Introduzca Nombre" name="nombre" required 
                                {% if load_u %}
                                    value="{{u.nombre}}"
                                {% endif %}
                            >
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="apellidos">Apellidos:</label>
                            <input type="text" class="form-control" id="apellidos" placeholder="Introduzca Apellidos" name="apellidos" required 
                                {% if load_u %}
                                    value="{{u.apellidos}}"
                                {% endif %}
                            >
                            <div class="invalid-feedback">Por favor ingrese datos.</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="idep">Departamento</label>
                            <select id="idep" name=dep class="form-control" 
                                {% if usuario != 'admin' and u.tipo_usr != 117 %}
                                disabled>
                                {% endif %}

                                <option value=1 
                                    {% if load_u  and u.dep == 1 %}
                                        selected 
                                    {% endif %}
                                >Chuquisaca</option>
                                <option value=2
                                    {% if load_u  and u.dep == 2 %}
                                        selected 
                                    {% endif %}
                                >La Paz</option>
                                <option value=3
                                    {% if load_u  and u.dep == 3 %}
                                        selected 
                                    {% endif %}
                                >Cochabamba</option>
                                <option value=4 
                                    {% if load_u  and u.dep == 4 %}
                                        selected 
                                    {% endif %}
                                >Oruro</option>
                                <option value=5
                                    {% if load_u  and u.dep == 5 %}
                                        selected 
                                    {% endif %}
                                >Potosí</option>
                                <option value=6
                                    {% if load_u  and u.dep == 6 %}
                                        selected 
                                    {% endif %}
                                >Tarija</option>
                                <option value=7 
                                    {% if load_u  and u.dep == 7 %}
                                        selected 
                                    {% endif %}
                                >Santa Cruz</option>
                                <option value=8
                                    {% if load_u  and u.dep == 8 %}
                                        selected 
                                    {% endif %}
                                >Beni</option>
                                <option value=9
                                    {% if load_u  and u.dep == 9 %}
                                        selected 
                                    {% endif %}
                                >Pando</option>
                                <option value=0 
                                    {% if load_u  and u.dep == 0 %}
                                        selected 
                                    {% endif %}
                                >Nacional</option>
                            </select> 
                            {% if usuario != 'admin' %}
                            <input type="hidden" name="dep" value={{ u.dep }}>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">eMail:</label>
                        <input type="text" class="form-control" id="email" placeholder="Introduzca email" name="email" required pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                {% if load_u %}
                                    value="{{u.email}}"
                                {% endif %}
                        >
                        <div class="invalid-feedback" id="v_email">Debe ser una dirección correcta.</div>
                    </div>


                    {% if not load_u %}
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="pwd">Contraseña:</label>
                            <input type="password" class="form-control" id="pswd" title="" placeholder="Introduzca contraseña" name="pswd" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">                                                                                                                                                            
                            <div class="invalid-feedback">Debe contener al menos un número, una letra minúscula, una mayúscula y al menos 8 caracteres.</div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="pswd2">Confirme Contraseña:</label>
                            <input type="password" class="form-control" title= "" id="pswd2" placeholder="Confirmación" name="pswd2" required oninput="validapswd2(this)"> 
                            <div class="invalid-feedback" id="v_pswd2">Error en confirmación.</div>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-12">
                            <label for="tusr">Tipo de Usuario</label>
                            <select id="itusr" name="tusr" class="form-control" {% if usuario != 'admin' %} disabled {% endif %} required>
                                <option></option>
                                {% for t_usuario in t_usuarios %}
                                    {% if load_u and u.tipo_usr==t_usuario[0] %}
                                            <option value = "{{ t_usuario[0] }}" selected>{{ t_usuario[1] }}</option>
                                    {% else %}
                                            <option value = "{{ t_usuario[0] }}">{{ t_usuario[1] }}</option>
                                    {% endif %}                                                                
                                {% endfor %}
                            </select>
                            {% if usuario != 'admin' and u.tipo_usr == 117 %}
                                <input type="hidden" name="tusr1" value={{ u.tipo_usr }}>
                            {% endif %}
                            <div class="invalid-feedback" id="v_tusr">Debe seleccionar el Tipo de Usuario.</div> 
                        </div>
                    </div>
                    <br>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" type="checkbox" name="auth" required checked> Autenticado
                            <div class="invalid-feedback">Marque el checkbox para continuar.</div>
                        </label>
                    </div>


                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <button type="button"  onclick="javascript: window.location.href = '/';"  class="btn btn-outline-danger btn-md btn-block">Cancelar</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button type="submit" class="btn btn-outline-success btn-md btn-block" 
                            >Aceptar</button>
                        </div>
                    </div> <!--row-->
                </form>
            </div>
        </div>
    </div>

    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

</div>

<script>
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();


function validapswd2(input) {
    pswd = document.getElementById("pswd").value 
    if (pswd != input.value) {
      input.setCustomValidity('scv');
      $("#v_pswd2").html("Error: Pasword NO coincide!");
    } else {
      input.setCustomValidity('');
    }

}

</script>

{% endblock %}

