{% extends "layout.html" %}

{% block content %}

{% block js_css %}
    
    <!-- Bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    Datatables  -->
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css"/>  
    
    searchPanes -->
    <!--<link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.0.1/css/searchPanes.dataTables.min.css">
    select -->
    <!--<link href="https://cdn.datatables.net/select/1.3.1/css/select.dataTables.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            
    Datatables-->
    <!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>  

    searchPanes   -->
    <!--<script src="https://cdn.datatables.net/searchpanes/1.0.1/js/dataTables.searchPanes.min.js"></script>
    select -->
    <!--<script src="https://cdn.datatables.net/select/1.3.1/js/dataTables.select.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>-->    

    <!--Nuevo-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/searchpanes/1.4.0/css/searchPanes.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css">        

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/searchpanes/1.4.0/js/dataTables.searchPanes.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.3.3/js/dataTables.select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.0.1/js/buttons.colVis.min.js"></script>

    <style type="text/css">
        table th{
            background-color: #17a2b8;
            color: white;
        }
        input[type="text"]{
            width: 100px;
        }
    </style>
{% endblock %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h5>--- Reportes ---</h5>
        </div>
        <div class="col-xs-6 col-md-4">
        </div>
    </div>
    <div class="row">
        <ul class="nav-tabs nav nav-justified">
            <li class="nav-item active">                
                <a href="#asientos" class="nav-link" data-toggle="tab">Asientos</a>                
            </li>
            <li class="nav-item">                
                <a href="#exterior" class="nav-link" data-toggle="tab">Asi_Exterior</a>                
            </li>
            <li class="nav-item">
                <a href="#recintos" class="nav-link" data-toggle="tab">Recintos</a>
            </li>
            <li class="nav-item">
                <a href="#homologacion" class="nav-link" data-toggle="tab">Homologaciones</a>
            </li>
            <li class="nav-item">
                <a href="#jurisdiccion" class="nav-link" data-toggle="tab">Jurisdicciones</a>
            </li>
            <li class="nav-item">
                <a href="#transaccion" class="nav-link" data-toggle="tab">LogTransacciones</a>
            </li>
        </ul>
    </div>
    <div class="tab-content container">
        <div class="tab-pane active" id="asientos">            
            <div class="container">                        
                <div class="row">
                    <div class="table-responsive">
                        <table id="id_dtasi" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-size: 13px;">
                                   <th>IdLoc</th>
                                   <th>D</th>
                                   <th>Depto</th>
                                   <th>P</th>
                                   <th>Provincia</th>
                                   <th>M</th>
                                   <th>Municipio</th>
                                   <th>Asiento</th>
                                   <th>Circun</th>
                                   <th>Estado</th>
                                   <th>Etapa</th>
                                   <th>UrbRur</th>
                                   <th>PobElec</th>
                                   <th>PobCen</th>                           
                                </tr>
                            </thead>
                            <tbody>    
                                {% for asiento in asientos %}
                                    <tr style="font-size: 13px;">
                                        <td>{{ asiento[0] }}</td>
                                        <td>{{ asiento[1] }}</td>
                                        <td>{{ asiento[2] }}</td>
                                        <td>{{ asiento[3] }}</td>
                                        <td>{{ asiento[4] }}</td>
                                        <td>{{ asiento[5] }}</td>
                                        <td>{{ asiento[6] }}</td>
                                        <td>{{ asiento[7] }}</td>
                                        <td>{{ asiento[8] }}</td>
                                        <td>{{ asiento[9] }}</td>
                                        <td>{{ asiento[10] }}</td>
                                        <td>{{ asiento[11] }}</td>
                                        <td>{{ asiento[12] }}</td>
                                        <td>{{ asiento[13] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="exterior">            
            <div class="container">                        
                <div class="row">
                    <div class="table-responsive">
                        <table id="id_dtext" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-size: 13px;">
                                   <th>IdLoc</th>
                                   <th>Pais</th>
                                   <th>D</th>
                                   <th>Depto</th>
                                   <th>P</th>
                                   <th>Provincia</th>
                                   <th>M</th>
                                   <th>Municipio</th>
                                   <th>Asiento</th>
                                   <th>Estado</th>                                   
                                   <th>PobElec</th>                           
                                </tr>
                            </thead>
                            <tbody>    
                                {% for exterior in exteriores %}
                                    <tr style="font-size: 13px;">
                                        <td>{{ exterior[0] }}</td>
                                        <td>{{ exterior[1] }}</td>
                                        <td>{{ exterior[2] }}</td>
                                        <td>{{ exterior[3] }}</td>
                                        <td>{{ exterior[4] }}</td>
                                        <td>{{ exterior[5] }}</td>
                                        <td>{{ exterior[6] }}</td>
                                        <td>{{ exterior[7] }}</td>
                                        <td>{{ exterior[8] }}</td>
                                        <td>{{ exterior[9] }}</td>
                                        <td>{{ exterior[10] }}</td>                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="recintos">
            <div class="container">                        
                <div class="row">
                    <div class="table-responsive">
                        <table id="id_dtreci" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-size: 13px;">
                                    <th>IdLoc</th>
                                    <th>Reci</th>
                                    <th>D</th>
                                    <th>Depto</th>
                                    <th>P</th>
                                    <th>Provincia</th>
                                    <th>M</th>
                                    <th>Municipio</th>
                                    <th>Recinto</th>
                                    <th>Circun</th>
                                    <th>Estado</th>
                                    <th>Mesas</th>
                                    <th>AmbDisp</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for recinto in recintos %}
                                    <tr style="font-size: 13px;">
                                        <td>{{ recinto[0] }}</td>
                                        <td>{{ recinto[1] }}</td>
                                        <td>{{ recinto[2] }}</td>
                                        <td>{{ recinto[3] }}</td>
                                        <td>{{ recinto[4] }}</td>
                                        <td>{{ recinto[5] }}</td>
                                        <td>{{ recinto[6] }}</td>
                                        <td>{{ recinto[7] }}</td>
                                        <td>{{ recinto[8] }}</td>
                                        <td>{{ recinto[9] }}</td>
                                        <td>{{ recinto[10] }}</td>
                                        <td>{{ recinto[11] }}</td>
                                        <td>{{ recinto[12] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
        <div class="tab-pane" id="homologacion">
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table id="id_dthomo" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-size: 13px;">
                                    <th>IdLoc</th>
                                    <th>Reci</th>
                                    <th>Depto</th>
                                    <th>Asiento</th>
                                    <th>Recinto</th>
                                    <th>IdLocDestino</th>
                                    <th>ReciDestino</th>
                                    <th>RecintoDestino</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for homologacion in homologaciones %}
                                    <tr style="font-size: 13px;">                                        
                                        <td>{{ homologacion[0] }}</td>
                                        <td>{{ homologacion[1] }}</td>
                                        <td>{{ homologacion[2] }}</td>
                                        <td>{{ homologacion[3] }}</td>
                                        <td>{{ homologacion[4] }}</td>
                                        <td>{{ homologacion[5] }}</td>
                                        <td>{{ homologacion[6] }}</td>
                                        <td>{{ homologacion[7] }}</td>                                        
                                    </tr>
                                {% endfor %}
                                {% for homojurisd in homojurisds %}
                                    <tr style="font-size: 13px;">
                                        <td>{{ homojurisd[0] }}</td>
                                        <td>{{ homojurisd[1] }}</td>
                                        <td>{{ homojurisd[2] }}</td>
                                        <td>{{ homojurisd[3] }}</td>
                                        <td>{{ homojurisd[4] }}</td>
                                        <td>{{ homojurisd[5] }}</td>
                                        <td>{{ homojurisd[6] }}</td>
                                        <td>{{ homojurisd[7] }}</td>                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="jurisdiccion">
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table id="id_dtjurisd" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-size: 13px;">
                                    <th>IdLoc</th>
                                    <th>Reci</th>
                                    <th>Depto</th>
                                    <th>Asiento</th>
                                    <th>Recinto</th>
                                    <th>IdLocDestino</th>
                                    <th>ReciDestino</th>
                                    <th>RecintoDestino</th>
                                    <th>Origen</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for jurisdiccion in jurisdicciones %}
                                    <tr style="font-size: 13px;">                                        
                                        <td>{{ jurisdiccion[0] }}</td>
                                        <td>{{ jurisdiccion[1] }}</td>
                                        <td>{{ jurisdiccion[2] }}</td>
                                        <td>{{ jurisdiccion[3] }}</td>
                                        <td>{{ jurisdiccion[4] }}</td>
                                        <td>{{ jurisdiccion[5] }}</td>
                                        <td>{{ jurisdiccion[6] }}</td>
                                        <td>{{ jurisdiccion[7] }}</td>
                                        <td>{{ jurisdiccion[8] }}</td>                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="transaccion">
            <div class="container">
                <div class="row">
                    <div class="table-responsive">
                        <table id="id_dttransa" class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr style="font-size: 13px;">
                                    <th>D</th>
                                    <th>Depto</th>
                                    <th>M</th>
                                    <th>Municipio</th>
                                    <th>Acción</th>
                                    <th>Tabla</th>
                                    <th>IdLoc</th>
                                    <th>Campo</th>
                                    <th>ValorOriginal</th>
                                    <th>ValorNuevo</th>
                                    <th>Fecha</th>
                                    <th>Usuario</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaccion in transacciones %}
                                    <tr style="font-size: 13px;">                                        
                                        <td>{{ transaccion[0] }}</td>
                                        <td>{{ transaccion[1] }}</td>
                                        <td>{{ transaccion[2] }}</td>
                                        <td>{{ transaccion[3] }}</td>
                                        <td>{{ transaccion[4] }}</td>
                                        <td>{{ transaccion[5] }}</td>
                                        <td>{{ transaccion[6] }}</td>
                                        <td>{{ transaccion[7] }}</td>
                                        <td>{{ transaccion[8] }}</td>
                                        <td>{{ transaccion[9] }}</td>
                                        <td>{{ transaccion[10] }}</td>
                                        <td>{{ transaccion[11] }}</td>                                        
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $('#id_dtasi').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json',
                    searchPanes: {
                        "clearMessage": "Borrar todo",
                        "collapse": {
                            "0": "Paneles de búsqueda",
                            "_": "Paneles de búsqueda (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Sin paneles de búsqueda",
                        "loadMessage": "Cargando paneles de búsqueda",
                        "title": "Filtros Activos - %d"
                    }
                },
                searchPanes:{
                    cascadePanes:true,
                    layout: 'columns-7',
                    dtOpts:{
                        dom:'tp',
                        paging:'true',
                        pagingType:'simple',
                        searching:true
                    }
                },
                columnDefs:[{
                    searchPanes:{
                        show:false
                    },
                    targets:[0, 1, 3, 4, 5, 10]
                }
                ],
                dom: 'PBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: true
                        },
                        pageSize: 'LETTER',
                        customize: function(doc, config) {
                          var tableNode;
                          for (i = 0; i < doc.content.length; ++i) {
                            if(doc.content[i].table !== undefined){
                              tableNode = doc.content[i];
                              break;
                            }
                          }
         
                          var rowIndex = 0;
                          var tableColumnCount = tableNode.table.body[rowIndex].length;
                           
                          if(tableColumnCount > 5){
                            doc.pageOrientation = 'landscape';
                          }
                        }
                    },
                    'colvis'
                ]
            });

            $('#id_dtext').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json',
                    searchPanes: {
                        "clearMessage": "Borrar todo",
                        "collapse": {
                            "0": "Paneles de búsqueda",
                            "_": "Paneles de búsqueda (%d)"
                        },
                        "count": "{total}",
                        "countFiltered": "{shown} ({total})",
                        "emptyPanes": "Sin paneles de búsqueda",
                        "loadMessage": "Cargando paneles de búsqueda",
                        "title": "Filtros Activos - %d"
                    }
                },
                searchPanes:{
                    cascadePanes:true,
                    layout: 'columns-5',
                    dtOpts:{
                        dom:'tp',
                        paging:'true',
                        pagingType:'simple',
                        searching:true
                    }
                },
                columnDefs:[{
                    searchPanes:{
                        show:false
                    },
                    targets:[0, 2, 4, 5, 6, 8]
                }
                ],
                dom: 'PBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: true
                        },
                        pageSize: 'LETTER',
                        customize: function(doc, config) {
                          var tableNode;
                          for (i = 0; i < doc.content.length; ++i) {
                            if(doc.content[i].table !== undefined){
                              tableNode = doc.content[i];
                              break;
                            }
                          }
         
                          var rowIndex = 0;
                          var tableColumnCount = tableNode.table.body[rowIndex].length;
                           
                          if(tableColumnCount > 5){
                            doc.pageOrientation = 'landscape';
                          }
                        }
                    },
                    'colvis'
                ]
            });

            $('#id_dtreci').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json'
                },
                searchPanes:{
                    cascadePanes:true,
                    layout: 'columns-7',
                    dtOpts:{
                        dom:'tp',
                        paging:'true',
                        pagingType:'simple',
                        searching:true
                    }
                },
                columnDefs:[{
                    searchPanes:{
                        show:false
                    },
                    targets:[0, 1, 2, 4, 6, 8]
                }
                ],
                dom: 'PBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: true
                        },
                        pageSize: 'LETTER',
                        customize: function(doc, config) {
                          var tableNode;
                          for (i = 0; i < doc.content.length; ++i) {
                            if(doc.content[i].table !== undefined){
                              tableNode = doc.content[i];
                              break;
                            }
                          }
         
                          var rowIndex = 0;
                          var tableColumnCount = tableNode.table.body[rowIndex].length;
                           
                          if(tableColumnCount > 5){
                            doc.pageOrientation = 'landscape';
                          }
                        }
                    },
                    'colvis'
                ]
            });

            $('#id_dthomo').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json'
                },
                searchPanes:{
                    cascadePanes:true,
                    layout: 'columns-4',
                    dtOpts:{
                        dom:'tp',
                        paging:'true',
                        pagingType:'simple',
                        searching:true
                    }
                },
                columnDefs:[{
                    searchPanes:{
                        show:false
                    },
                    targets:[3, 4, 7]
                }
                ],
                dom: 'PBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: true
                        },
                        pageSize: 'LETTER',
                        customize: function(doc, config) {
                          var tableNode;
                          for (i = 0; i < doc.content.length; ++i) {
                            if(doc.content[i].table !== undefined){
                              tableNode = doc.content[i];
                              break;
                            }
                          }
         
                          var rowIndex = 0;
                          var tableColumnCount = tableNode.table.body[rowIndex].length;
                           
                          if(tableColumnCount > 5){
                            doc.pageOrientation = 'landscape';
                          }
                        }
                    },
                    'colvis'
                ]
            });

            $('#id_dtjurisd').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json'
                },
                searchPanes:{
                    cascadePanes:true,
                    layout: 'columns-4',
                    dtOpts:{
                        dom:'tp',
                        paging:'true',
                        pagingType:'simple',
                        searching:true
                    }
                },
                columnDefs:[{
                    searchPanes:{
                        show:false
                    },
                    targets:[3, 4, 7]
                }
                ],
                dom: 'PBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: true
                        },
                        pageSize: 'LETTER',
                        customize: function(doc, config) {
                          var tableNode;
                          for (i = 0; i < doc.content.length; ++i) {
                            if(doc.content[i].table !== undefined){
                              tableNode = doc.content[i];
                              break;
                            }
                          }
         
                          var rowIndex = 0;
                          var tableColumnCount = tableNode.table.body[rowIndex].length;
                           
                          if(tableColumnCount > 5){
                            doc.pageOrientation = 'landscape';
                          }
                        }
                    },
                    'colvis'
                ]
            });

            $('#id_dttransa').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.11.3/i18n/es_es.json'
                },
                searchPanes:{
                    cascadePanes:true,
                    layout: 'columns-6',
                    dtOpts:{
                        dom:'tp',
                        paging:'true',
                        pagingType:'simple',
                        searching:true
                    }
                },
                columnDefs:[{
                    searchPanes:{
                        show:false
                    },
                    targets:[0, 2, 6, 7, 8, 9]
                }
                ],
                dom: 'PBfrtip',
                buttons: [
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: [ 0, ':visible' ]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible',
                            stripHtml: true
                        },
                        pageSize: 'LETTER',
                        customize: function(doc, config) {
                          var tableNode;
                          for (i = 0; i < doc.content.length; ++i) {
                            if(doc.content[i].table !== undefined){
                              tableNode = doc.content[i];
                              break;
                            }
                          }
         
                          var rowIndex = 0;
                          var tableColumnCount = tableNode.table.body[rowIndex].length;
                           
                          if(tableColumnCount > 5){
                            doc.pageOrientation = 'landscape';
                          }
                        }
                    },
                    'colvis'
                ]                
            });
        });
    </script>
    <br>
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <button type="submit" onclick="pasa_jurisd_asi();" class="btn btn-outline-danger btn-md btn-block">Volver</button>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
</div> <!--main-->
{% endblock %}

