<!DOCTYPE html>
<html>
<head>


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>

    <!-- Load plugin wms -->
    <script src="{{ url_for('static', filename='js/leaflet.wms.js') }}"></script>
    <!--<script src="/var/www/flasks/age/static/js/leaflet.wms.js"></script>-->


    <style>
        body {
          padding: 0;
          margin: 0;
        }
        html, body, #map {
          height: 100%;
        }
    </style>

    <style>
      #recipro-wrapper {
        position: absolute;
        top: 10px;
        right: 70px;
        z-index: 400;
        background: white;
        padding: 6px;
      }
      #basemaps {
        margin-bottom: 5px;
      }
    </style>
</head>

<body>
  <div id="map"></div>
</body>

</html>


<script>

    var map = L.map('map').setView( [40.965, -5.004], 16);
      
    /*
    var pnoa = L.tileLayer.wms("http://ovc.catastro.meh.es/Cartografia/WMS/ServidorWMS.aspx?", {
       layers: "Catastro",//nombre de la capa (ver get capabilities)
       format: 'image/jpeg',
       transparent: true,
       version: '1.1.1',//wms version (ver get capabilities)
       attribution: "DIRECCION GENERAL DEL CATASTRO"
    }).addTo(map);

    var source = L.WMS.source("http://ovc.catastro.meh.es/Cartografia/WMS/ServidorWMS.aspx?", {
        opacity: 0.1,
    });
    source.getLayer("PARCELA").addTo(map);
    */


    var lay_dep = L.tileLayer.wms("http://192.168.80.231:8080/geoserver/ows?version=2.0.0", {
       layers: "departamentos",//nombre de la capa (ver get capabilities)
       format: 'image/jpeg',
       transparent: true,
       attribution: "DEPTOz"
    }).addTo(map);

</script>

