{% extends "layout.html" %}

{% block content %}

{% block js_css %}
    <link href="{{ url_for('static', filename='css/leaflet1.5.1/leaflet.css') }}" rel="stylesheet" media="screen">
    <script src="{{ url_for('static', filename='js/leaflet1.5.1/leaflet.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uts/buildmap_reci.js') }}"></script>
    <script src="{{ url_for('static', filename='js/uts/cargar.js') }}"></script>
{% endblock %}
<div class="container">
    <h2 class="text-center text-blue pt-3" >{{ titulo }}</h2>
    <br>    
    <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-8">
            <div id="login-box" class="col-md-12">
                <form action="{{ url_for('zonass', idloczona = za.idloc, idzon = 0) }}" class="needs-validation" novalidate method="POST" onsubmit="return Validation(this)" name="form">                
                    <div class="row">
                        <div class="col-md-2">
                            <label for="idloc">IdLoc:</label>
                            <input type="hidden" name="idzon" value="{{ za.idzon }}">
                            <input type="text" class="form-control" id="iidloc" title="" placeholder="Instroduzca IdLoc" name="idloc" required onkeydown="asientoZona(event)" 
                                    {% if load %}
                                        readonly value="{{ za.idloc }}"
                                    {% endif %}
                                >
                            <div class="invalid-feedback">Ingrese codigo IdLoc...</div>
                        </div>
                        <div class="col-md-8">
                            <label for="nomloc">Nombre Asiento:</label>
                            <input type="text" class="form-control" id="inomloc" title="" placeholder="Instroduzca Nombre del Asiento" name="nomloc" required readonly
                                    {% if load %}
                                        value="{{ za.nomloc }}"
                                    {% endif %}
                                >
                            <div class="invalid-feedback">Ingrese codigo IdLoc...</div>
                        </div>
                        <div class="col-md-2">
                            <label for="refresh">Refresh:</label>
                            {% if load %}
                                <i class="fas fa-sync-alt" style="font-size: 30px;"></i>
                            {% else %}
                                <button type="button" class="btn btn-light btn-block"><a onclick="cargar(this.value, 9)"><i class="fas fa-sync-alt" style="font-size: 25px;"></i></a></button>
                            {% endif %}
                        </div>
                    </div> <!--row-->
                    <h5 class="text-left text-blue pt-5" >Datos de la Zona:</h5>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nomdist">Nombre del Distrito:</label>
                            <select id="inomdist" name="nomdist" class="form-control" required>
                                {% for distrito in distritos %}
                                    {% if load and za.distzona==distrito[1] %}
                                            <option value = "{{ distrito[1] }}" selected>{{ distrito[1] ~' - '~ distrito[3] ~'('~ 'Cir ' ~ distrito[2] ~')' }}</option>
                                    {% else %}
                                            <option value = "{{ distrito[1] }}">{{ distrito[1] ~' - '~ distrito[3] ~'('~ 'Cir ' ~ distrito[2] ~')' }}</option>
                                    {% endif %}                                                                
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">Debe Seleccionar el Distrito...</div>
                        </div>
                        <div class="col-md-6">
                            <label for="nomzon">Nombre de la Zona:</label>
                            <input type="text" class="form-control" id="inomzon" placeholder="Introduzca el Nombre de la Zona" name="nomzon" required
                                {% if load %}
                                    value="{{ za.nomzona }}"        
                                {% endif %}
                            >
                            <div class="invalid-feedback">Por favor ingrese el Nombre de la Zona...</div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="fechaIngreso">Fecha y Hora de Registro:</label>
                            <input type="datetime" class="form-control" id="ifechaIngreso" title="" placeholder="Fecha de Registro." name="fechaIngreso" readonly
                                    {% if load_d %}
                                        value=""
                                    {% else %}
                                        value="{{ idatetime }}"
                                    {% endif %}
                                >
                            <div class="invalid-feedback" id="v_fechaIngreso">Debe introducir una fecha válida.</div>
                        </div>
                        <div class="col-md-4">
                            <label for="fechaAct">Fecha y Hora Actual:</label>
                            <input type="datetime" class="form-control" id="ifechaAct" title="" placeholder="Fecha Actual." name="fechaAct" readonly
                                    {% if load_d %}
                                        value=""
                                    {% else %}
                                        value="{{ idatetime }}"
                                    {% endif %}
                                >
                            <div class="invalid-feedback" id="v_fechaAct">Debe introducir una fecha válida.</div>
                        </div>                        
                        <div class="col-md-4">
                            <label for="usuario">Usuario Logueado:</label>
                            <input type="text" class="form-control" id="iusuario" title="" placeholder="Usuario" name="usuario"  readonly 
                                    {% if load_d %}
                                        value=""
                                    {% else %}
                                        value="{{ usuario }}"
                                    {% endif %}
                                >
                            <div class="invalid-feedback">Debe introducir un nombre válido.</div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <button type="button" onclick="javascript: window.location.href = '/zon_list';" class="btn btn-outline-danger btn-md btn-block">Cancelar</button>
                        </div>
                        <div class="col-md-6 mb-3">
                            <button type="submit" class="btn btn-outline-success btn-md btn-block"
                            >Aceptar</button>
                        </div>
                    </div> <!--row-->
                </form>
            </div>
        </div>
    </div>

    {% if error %}
    <br>
    <div class="alert alert-danger alert-dismissible fade show">
        <strong>Error!</strong> {{ error }} 
        <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}

</div>

<script>  
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();

</script>

{% endblock %}